<ocx-portal-page permission="SLOT#SEARCH" helpArticleId="PAGE_SLOT_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.SLOTS.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SLOTS.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <section
      id="ps_slot_search_criteria"
      [formGroup]="searchCriteria"
      class="flex flex-row flex-wrap gap-4 row-gap-3 md:px-2"
      [attr.aria-label]="'DIALOG.SEARCH.CRITERIA' | translate"
    >
      <span class="p-float-label">
        <input
          pInputText
          id="ps_slot_search_criteria_slot_name"
          type="text"
          formControlName="slotName"
          class="w-15rem"
          [attr.aria-label]="'SLOT.NAME' | translate"
          [pTooltip]="('SLOT.TOOLTIPS.NAME' | translate) + ('ACTIONS.SEARCH.WILDCARD_SUPPORT' | translate)"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ps_slot_search_criteria_slot_name" aria-hidden="true">{{ 'SLOT.NAME' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          pInputText
          id="ps_slot_search_criteria_product_name"
          type="text"
          formControlName="productName"
          class="w-15rem"
          [attr.aria-label]="'SLOT.PRODUCT_NAME' | translate"
          [pTooltip]="('SLOT.TOOLTIPS.PRODUCT_NAME' | translate) + ('ACTIONS.SEARCH.WILDCARD_SUPPORT' | translate)"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ps_slot_search_criteria_product_name" aria-hidden="true"
          >{{ 'SLOT.PRODUCT_NAME' | translate }}</label
        >
      </span>
    </section>
  </ocx-search-header>

  <ocx-page-content *ngIf="slotData$ | async as slots">
    <p-message
      *ngIf="loading"
      id="ps_slot_search_loading_message"
      severity="info"
      styleClass="m-3 p-2"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="!loading && exceptionKey"
      id="ps_slot_search_error_message"
      severity="error"
      styleClass="m-3 p-2"
      [text]="exceptionKey | translate"
    ></p-message>

    <p-table
      *ngIf="!(loading || exceptionKey)"
      #dataTable
      id="ps_slot_search_table"
      styleClass="mx-3 mb-2"
      [value]="slots"
      [columns]="filteredColumns"
      dataKey="id"
      [globalFilterFields]="['productName', 'appId', 'name']"
      [reorderableColumns]="false"
      [scrollable]="true"
      scrollHeight="590px"
      groupRowsBy="productName"
      rowGroupMode="rowspan"
      sortField="productName"
      [sortOrder]="1"
      [rowsPerPageOptions]="[10, 30, 100]"
      [rows]="10"
      [paginator]="true"
      paginatorPosition="bottom"
      [alwaysShowPaginator]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="caption">
        <ocx-data-view-controls
          [supportedViews]="['table']"
          [enableFiltering]="true"
          [enableSorting]="false"
          [columnDefinitions]="columns"
          (filterChange)="onFilterChange($event)"
          [translations]="(dataViewControlsTranslations$ | async) ?? {}"
        ></ocx-data-view-controls>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td id="ps_slot_search_table_emptymessage" colspan="16">{{ 'ACTIONS.SEARCH.NO_DATA' | translate }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pFrozenColumn id="ps_slot_search_table_header_actions" class="text-center">
            {{ 'ACTIONS.LABEL' | translate }}
          </th>
          <ng-container *ngFor="let col of columns">
            <th
              *ngIf="col.field === 'name'"
              pFrozenColumn
              [id]="'ps_slot_search_table_header_col_' + col.field"
              class="white-space-nowrap border-right-1"
              [class]="col.css"
              [attr.aria-label]="'SLOT.NAME' | translate"
            >
              <span class="p-float-label inline-block">
                <p-dropdown
                  id="ps_slot_search_table_header_filter_slot_name"
                  styleClass="w-full clear-icon-used"
                  [appendTo]="'body'"
                  [showClear]="true"
                  [options]="filterSlotNameItems"
                  [(ngModel)]="filterSlotNameValue"
                  (onClick)="onClick($event)"
                  (onChange)="onFilterItemChangeSlotName($event)"
                  [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                  [pTooltip]="'SLOT.TOOLTIPS.NAME' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></p-dropdown>
                <label for="ps_slot_search_table_header_filter_slot_name" aria-hidden="true">
                  {{ col.translationPrefix + '.' + col.header | translate }}
                </label>
              </span>
            </th>
            <th
              *ngIf="col.field === 'state'"
              id="ps_slot_search_table_header_state"
              [class]="col.css"
              [attr.aria-label]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
              [pTooltip]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ 'SLOT.STATE' | translate }}
              <!--span class="p-float-label inline-block">
                <p-dropdown
                  id="ps_slot_search_table_header_filter_state"
                  styleClass="w-full clear-icon-used"
                  [appendTo]="'body'"
                  [showClear]="true"
                  [options]="filterStateItems"
                  [(ngModel)]="filterProductValue"
                  (onClick)="onClick($event)"
                  (onChange)="onFilterItemChangeProduct($event)"
                  [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                  [attr.aria-label]="'SLOT.STATE' | translate"
                  [pTooltip]="'SLOT.TOOLTIPS.STATE' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></p-dropdown>
                <label for="ps_slot_search_table_header_filter_state" aria-hidden="true">
                  {{ 'SLOT.STATE' | translate }}
                </label>
              </span-->
            </th>
            <th
              *ngIf="col.field === 'description'"
              [id]="'ps_slot_search_table_header_col_' + col.field"
              [class]="col.css"
              [attr.aria-label]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
              [pTooltip]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span>{{ col.translationPrefix + '.' + col.header | translate }}</span>
              <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
          <th
            id="ps_slot_search_table_header_col_app_id"
            class="white-space-nowrap"
            [attr.aria-label]="'SLOT.APP_ID' | translate"
            [pTooltip]="'SLOT.TOOLTIPS.APP_ID' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'SLOT.APP_ID' | translate }}
          </th>
          <th id="ps_slot_search_table_header_col_product_name" [class]="'white-space-nowrap'">
            <section
              class="flex flex-row align-items-center column-gap-1"
              [attr.aria-label]="'SLOT.PRODUCT_NAME' | translate"
            >
              <span class="p-float-label inline-block">
                <p-dropdown
                  id="ps_slot_search_table_header_filter_product_name"
                  styleClass="w-full clear-icon-used"
                  [appendTo]="'body'"
                  [showClear]="true"
                  [options]="filterProductItems"
                  [(ngModel)]="filterProductValue"
                  (onClick)="onClick($event)"
                  (onChange)="onFilterItemChangeProduct($event)"
                  [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                  [attr.aria-label]="'SLOT.PRODUCT_NAME' | translate"
                  [pTooltip]="'SLOT.TOOLTIPS.PRODUCT_NAME' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></p-dropdown>
                <label for="ps_slot_search_table_header_filter_product_name" aria-hidden="true">
                  {{ 'SLOT.PRODUCT_NAME' | translate }}
                </label>
              </span>
              <button
                pbutton
                type="button"
                id="ps_slot_search_table_header_sort_product_name"
                class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onSortProducts($event, sortIconProduct)"
                [pTooltip]="'SLOT.SORT.PRODUCT' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span #sortIconProduct class="pi pi-fw pi-sort-amount-up-alt"></span>
              </button>
            </section>
          </th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-columns="columns"
        let-i="rowIndex"
        let-rowData
        let-rowspan="rowspan"
        let-rowgroup="rowgroup"
      >
        <tr>
          <!-- actions -->
          <td pFrozenColumn class="white-space-nowrap text-center">
            <!-- use the following as container to wrap button within the row height -->
            <ng-container *ocxIfNotPermission="'SLOT#EDIT'">
              <p-button
                *ocxIfPermission="'SLOT#VIEW'"
                type="button"
                pRipple
                [id]="'pam_search_table_row_' + i + '_action_view'"
                [text]="true"
                [plain]="true"
                [rounded]="true"
                [icon]="'pi pi-eye'"
                (onClick)="onSlotDetail('VIEW', $event, rowData)"
                [attr.aria-label]="'ACTIONS.VIEW.LABEL' | translate"
                [pTooltip]="'ACTIONS.VIEW.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
            </ng-container>
            <p-button
              *ocxIfPermission="'SLOT#EDIT'"
              type="button"
              pRipple
              [id]="'pam_search_table_row_' + i + '_action_edit'"
              [text]="true"
              [plain]="true"
              [rounded]="true"
              [icon]="'pi pi-pencil'"
              (onClick)="onSlotDetail('EDIT', $event, rowData)"
              [attr.aria-label]="'ACTIONS.EDIT.LABEL' | translate"
              [pTooltip]="'ACTIONS.EDIT.LABEL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <p-button
              *ocxIfPermission="'SLOT#CREATE'"
              type="button"
              pRipple
              [id]="'pam_search_table_row_' + i + '_action_copy'"
              [text]="true"
              [plain]="true"
              [rounded]="true"
              [icon]="'pi pi-copy'"
              (onClick)="onSlotDetail('CREATE', $event, rowData)"
              [attr.aria-label]="'ACTIONS.COPY.LABEL' | translate"
              [pTooltip]="'ACTIONS.COPY.LABEL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <p-button
              *ocxIfPermission="'SLOT#DELETE'"
              type="button"
              pRipple
              [id]="'pam_search_table_row_' + i + '_action_delete'"
              [text]="true"
              [plain]="true"
              [rounded]="true"
              severity="danger"
              [icon]="'pi pi-trash'"
              (onClick)="onSlotDelete($event, rowData)"
              [attr.aria-label]="'ACTIONS.DELETE.LABEL' | translate"
              [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </td>
          <ng-container *ngFor="let col of columns">
            <td
              *ngIf="col.field === 'name'"
              pFrozenColumn
              [id]="'ps_slot_search_table_row_' + i + '_' + col.field"
              class="border-right-1"
              [class]="col.css"
            >
              <span
                class="text-ellipsis-2-lines"
                [ngClass]="rowData[col.field].length > col.limit ? col.css : ''"
                [pTooltip]="rowData[col.field].length > 100 ? rowData[col.field] : ''"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ rowData[col.field] }}
              </span>
            </td>
            <td
              *ngIf="col.field === 'state'"
              [id]="'ps_slot_search_table_row_' + i + '_' + col.field"
              [class]="col.css"
            >
              <div class="flex flex-nowrap column-gap-2 justify-content-center">
                <span
                  *ngIf="rowData['operator']"
                  class="pi pi-shield"
                  [attr.aria-label]="'SLOT.OPERATOR_SEARCH' | translate"
                  [pTooltip]="'SLOT.OPERATOR_SEARCH' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
                <span
                  *ngIf="rowData['undeployed']"
                  class="danger-action-text pi pi-ban"
                  [attr.aria-label]="'SLOT.UNDEPLOYED_SEARCH' | translate"
                  [pTooltip]="'SLOT.UNDEPLOYED_SEARCH' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
                <span
                  *ngIf="rowData['deprecated']"
                  class="danger-action-text pi pi-exclamation-circle"
                  [attr.aria-label]="'SLOT.DEPRECATED_SEARCH' | translate"
                  [pTooltip]="'SLOT.DEPRECATED_SEARCH' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
              </div>
            </td>
            <td
              *ngIf="col.field === 'description'"
              [id]="'ps_slot_search_table_row_' + i + '_' + col.field"
              [class]="col.css"
            >
              <div class="text-ellipsis-2-lines">{{ rowData[col.field] }}</div>
            </td>
          </ng-container>
          <td [id]="'ps_slot_search_table_row_app_id'" class="white-space-nowrap">{{ rowData['appId'] }}</td>
          <td
            *ngIf="rowgroup"
            [attr.rowspan]="rowspan"
            [id]="'ps_slot_search_table_row_product_name'"
            class="bg-inherit white-space-nowrap border-right-1"
          >
            <a
              tabindex="0"
              [id]="'ps_slot_search_table_row_' + i + '_goto_product'"
              class="bookmark-link font-italic text-primary cursor-pointer"
              (click)="onGotoProduct($event, rowData)"
              (keydown.enter)="onGotoProduct($event, rowData)"
              (keydown.space)="onGotoProduct($event, rowData)"
              [attr.aria-label]="'ACTIONS.NAVIGATION.LINKS.GOTO.PRODUCT' | translate"
              [pTooltip]="'ACTIONS.NAVIGATION.LINKS.GOTO.PRODUCT' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ rowData['productDisplayName'] }}
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ocx-page-content>
</ocx-portal-page>

<app-slot-detail
  [displayDialog]="displaySlotDetailDialog"
  [slot]="item4Detail"
  [dateFormat]="dateFormat"
  [changeMode]="changeMode"
  (changed)="slotChanged($event)"
></app-slot-detail>

<app-slot-delete
  [displayDialog]="displaySlotDeleteDialog"
  [slot]="item4Delete"
  (slotDeleted)="slotDeleted($event)"
></app-slot-delete>
