<ocx-portal-page permission="SLOT#SEARCH" helpArticleId="PAGE_SLOT_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.SLOTS.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SLOTS.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div
      id="ps_slot_search_criteria"
      [formGroup]="slotSearchCriteriaGroup"
      class="flex flex-wrap gap-4 row-gap-3 md:px-2"
    >
      <span class="p-float-label">
        <input
          pInputText
          id="ps_slot_search_criteria_slot_name"
          type="text"
          formControlName="slotName"
          class="w-18rem"
          [clear]="true"
          [pTooltip]="'SLOT.TOOLTIPS.NAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ps_slot_search_criteria_slot_name">{{ 'SLOT.NAME' | translate }}</label>
      </span>
    </div>
  </ocx-search-header>

  <ocx-page-content>
    <div *ngIf="exceptionKey" id="ps_slot_search_error" class="card px-3 align-items-center">
      <p-message
        id="ps_slot_search_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      id="ps_slot_search_dataview"
      [value]="(slots$ | async)?.stream!.sort(sortSlotsByName)"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      filterBy="name"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="[20, 40, 100]"
      [rows]="20"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          id="ps_slot_search_dataview_controls"
          [enableFiltering]="true"
          [enableSorting]="true"
          [supportedViews]="['grid']"
          [initialViewMode]="viewMode"
          [defaultSortOption]="sortField"
          [sortingOptions]="[
            { label: 'SLOT.NAME' | translate, value: 'name' },
            { label: 'APP.PRODUCT_NAME' | translate, value: 'productName' },
            { label: 'APP.UNDEPLOYED' | translate, value: 'undeployed' },
            { label: 'APP.DEPRECATED' | translate, value: 'deprecated' }
          ]"
          [defaultSortDirection]="sortOrder === -1"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="['SLOT.NAME' | translate]"
          [translations]="dataViewControlsTranslations"
        >
        </ocx-data-view-controls>
      </ng-template>
      <ng-template let-slots let-idx="rowIndex" pTemplate="gridItem">
        <div class="p-grid p-nogutter grid grid-nogutter">
          <div
            *ngFor="let slot of slots"
            [id]="'ps_slot_search_data_grid_' + idx"
            class="col-6 md:col-4 lg:col-4 xl:col-3 p-2 md:px-3"
          >
            <div class="card relative py-2 px-4 flex flex-column justify-content-center">
              <span
                *ngIf="slot.undeployed"
                [id]="'ps_slot_search_data_grid_idx_' + idx + '_undeployed'"
                class="card-badge-right badge-1 danger-action-text font-bold p-2 pi pi-ban"
                [pTooltip]="'SLOT.UNDEPLOYED_SEARCH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <span
                *ngIf="!slot.undeployed && slot.deprecated"
                [id]="'ps_slot_search_data_grid_idx_' + idx + '_deprecated'"
                class="card-badge-right badge-1 p-2 danger-action-text font-bold pi pi-exclamation-circle"
                [pTooltip]="'SLOT.DEPRECATED_SEARCH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <a
                *ngIf="hasDeletePermission"
                [id]="'ps_slot_search_data_' + slot.name + '_delete_slot'"
                class="card-badge-left badge-2 p-2 pi pi-trash danger-action-text button-icon-only"
                (click)="onDelete($event, slot)"
                [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></a>
              <div class="h-3rem flex flex-column justify-content-between gap-1 text-center">
                <div
                  [id]="'ps_slot_search_data_grid_' + idx + '_slot_name'"
                  class="font-bold text-responsive"
                  [pTooltip]="slot.name.length <= 25 ? '' : slot.name"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ slot.name }}
                </div>
                <div
                  [id]="'ps_slot_search_data_grid_' + idx + '_product_name'"
                  class="text-xs text-responsive"
                  [pTooltip]="slot.productName.length <= 20 ? '' : limitText(slot.productName, 100)"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ slot.productName }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<app-slot-delete
  [displayDialog]="displayDeleteDialog"
  [slot]="slot"
  (slotDeleted)="slotDeleted($event)"
></app-slot-delete>
