<ocx-portal-page permission="SLOT#SEARCH" helpArticleId="PAGE_SLOT_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.SLOTS.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SLOTS.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div id="slot_search_criteria" [formGroup]="slotSearchCriteriaGroup" class="flex flex-wrap gap-4 row-gap-3 px-2">
      <span class="p-float-label">
        <input
          pInputText
          id="slot_search_criteria_slot_name"
          type="text"
          formControlName="slotName"
          class="w-18rem"
          [clear]="true"
          [title]="'SLOT.TOOLTIPS.NAME' | translate"
        />
        <label for="slot_search_criteria_slot_name">{{ 'SLOT.NAME' | translate }}</label>
      </span>
    </div>
  </ocx-search-header>

  <ocx-page-content>
    <div *ngIf="exceptionKey" id="slot_search_criteria_error" class="card px-3 align-items-center">
      <p-message
        id="slot_search_criteria_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      id="slot_search_dataview"
      [value]="(slots$ | async)?.stream!.sort(sortSlotsByName)"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="[20, 40, 100]"
      [rows]="12"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      filterBy="name"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          id="slot_search_dataview_controls"
          [enableFiltering]="true"
          [enableSorting]="true"
          [supportedViews]="['grid']"
          [initialViewMode]="viewMode"
          [defaultSortOption]="sortField"
          [sortingOptions]="[
            { label: 'SLOT.NAME' | translate, value: 'name' },
            { label: 'APP.PRODUCT_NAME' | translate, value: 'productName' },
            { label: 'APP.UNDEPLOYED' | translate, value: 'undeployed' },
            { label: 'APP.DEPRECATED' | translate, value: 'deprecated' }
          ]"
          [defaultSortDirection]="sortOrder === -1"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="['SLOT.NAME' | translate]"
          [translations]="dataViewControlsTranslations"
        >
        </ocx-data-view-controls>
      </ng-template>
      <ng-template let-slot let-idx="rowIndex" pTemplate="gridItem">
        <div [id]="'slot_search_data_grid_' + idx" class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-3">
          <div class="card relative p-2 flex flex-column justify-content-center">
            <span
              *ngIf="slot.undeployed"
              [id]="'slot_search_data_grid_idx_' + idx + '_undeployed'"
              class="card-badge-right badge-1 danger-action-text font-bold p-2 pi pi-ban"
              [title]="'SLOT.UNDEPLOYED_SEARCH' | translate"
            ></span>
            <span
              *ngIf="!slot.undeployed && slot.deprecated"
              [id]="'slot_search_data_grid_idx_' + idx + '_deprecated'"
              class="card-badge-right badge-1 p-2 danger-action-text font-bold pi pi-exclamation-circle"
              [title]="'SLOT.DEPRECATED_SEARCH' | translate"
            ></span>
            <span
              *ngIf="(!slot.operator || slot.undeployed) && hasDeletePermission"
              [id]="'slot_search_data_' + slot.name + '_delete_slot'"
              class="card-badge-left badge-2 p-2 pi pi-trash danger-action-text pseudo-button-link"
              [title]="'ACTIONS.DELETE.LABEL' | translate"
              (click)="onDelete($event, slot)"
            ></span>
            <div class="h-3rem flex flex-column justify-content-between gap-1 text-center">
              <div
                [id]="'slot_search_data_grid_' + idx + '_slot_name'"
                class="font-bold"
                [title]="('SLOT.NAME' | translate) + ': ' + slot.name"
              >
                {{ limitText(slot.name, 25) }}
              </div>
              <div
                class="text-xs"
                [id]="'slot_search_data_grid_' + idx + '_product_name'"
                [title]="('SLOT.PRODUCT_NAME' | translate) + ': ' + limitText(slot.productName, 100)"
              >
                {{ limitText(slot.productName, 20) }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<app-slot-delete
  [displayDialog]="displayDeleteDialog"
  [slot]="slot"
  (slotDeleted)="slotDeleted($event)"
></app-slot-delete>
