@use '/src/app/_ps-mixins.scss' as *;

@include danger-action;
@include ocx-text-responsive;
@include ocx-required-label;
@include ocx-p-inputgroup;
@include ocx-p-message;
@include ocx-p-tabs;

:host ::ng-deep {
  --onecx-product-store-onecx-product-store-ui-tabs-tabpanel-padding: 0.75rem;

  .p-dialog .p-dialog-content {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
