.angular/**
.husky/**
.docusaurus/
.github/**
.dockerignore
.prettierignore
.browserslistrc
dist/**
helm/**
nginx/**
reports
node_modules
CHANGELOG.md
README.md
Dockerfile
*.log
*.sh
src/app/shared/generated/**
src/app/assets/*
src/app/model/*
