@import '/src/app/_ps-mixins.scss';

@include card-badges;
@include danger-action;

:host ::ng-deep {
  .p-fieldset {
    &.p-fieldset-toggleable .p-fieldset-legend a,
    .p-fieldset-legend {
      background-color: transparent;
      padding: 0.3rem 0.4rem;
    }
    .p-fieldset-content {
      padding: var(--panel-content-padding) 0.2rem 1rem;
    }
  }
  .h-2-5rem {
    height: 2.5rem !important;
  }
  .h-3-5rem {
    height: 3.5rem !important;
  }
  /**
   * position aligned to card dimensions
  */
  .card-badge-right,
  .card-badge-left {
    &.badge-2 {
      top: 45px;
    }
    &.badge-2-1 {
      top: 26px;
    }
    &.badge-2-2 {
      top: 38px;
    }
  }
}
