@use '/src/app/_ps-mixins.scss' as *;

@include danger-action;
@include card-badges;

:host ::ng-deep {
  --onecx-product-store-onecx-product-store-ui-card-body-padding: 0.5rem;

  /* fixes for p-card */
  --onecx-product-store-onecx-product-store-ui-card-body-padding: 0.25rem;
  --onecx-product-store-onecx-product-store-ui-card-border-radius: 4px;
  --onecx-product-store-onecx-product-store-ui-card-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  .p-fieldset {
    &.p-fieldset-toggleable .p-fieldset-legend a,
    .p-fieldset-legend {
      background-color: transparent;
      padding: 0.7rem 0.4rem;
    }
    .p-fieldset-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 1rem 0.2rem;
    }
  }
  .h-2-5rem {
    height: 2.5rem !important;
  }
  .h-3-5rem {
    height: 3.5rem !important;
  }
  /**
   * position aligned to card dimensions
  */
  .card-badge-right,
  .card-badge-left {
    &.badge-2-mfe {
      top: 51px;
    }
    &.badge-2-ms {
      top: 32px;
    }
    &.badge-2-slot {
      top: 44px;
    }
  }
}
