<div *ngIf="productDetails$ | async as details" class="mb-1 mx-1">
  <p-message
    *ngIf="!hasComponents"
    id="ps_product_apps_no_data"
    severity="info"
    styleClass="p-2"
    [text]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
  ></p-message>
  <p-fieldset
    *ngIf="details.microfrontends && details.microfrontends.length > 0"
    [toggleable]="false"
    [collapsed]="false"
    styleClass="surface-100 py-0 mt-1 mb-3 mx-1"
  >
    <ng-template pTemplate="header">
      <span [pTooltip]="'DIALOG.COMPONENTS.TOOLTIPS.MFE' | translate" tooltipPosition="top" tooltipEvent="hover">
        {{ 'DIALOG.COMPONENTS.MFE' | translate }}
      </span>
    </ng-template>

    <div class="flex flex-row flex-wrap column-gap-3 sm:column-gap-4 row-gap-2 sm:row-gap-3">
      <a
        *ngFor="let mfe of details.microfrontends.sort(sortMfesByTypeAndExposedModule); index as i"
        tabindex="0"
        [id]="'ps_product_apps_components_mfe_' + mfe.appId"
        class="card relative w-full sm:w-21rem m-0 pt-2 pb-1 px-5 flex flex-column justify-content-center hover:bg-gray-200 hover:text-color cursor-pointer"
        (click)="onDetail($event, mfe, AppType.MFE)"
        (keydown.enter)="onDetail($event, mfe, AppType.MFE)"
        (keydown.space)="onDetail($event, mfe, AppType.MFE)"
      >
        <!-- BADGES -->
        <a
          *ngIf="hasCreatePermission"
          tabindex="0"
          [id]="'ps_product_apps_components_mfe_' + mfe.appId + '_copy_app'"
          class="card-badge-left badge-1 pi pi-copy button-icon-only"
          (click)="onCopy($event, mfe, AppType.MFE)"
          (keydown.enter)="onCopy($event, mfe, AppType.MFE)"
          (keydown.space)="onCopy($event, mfe, AppType.MFE)"
          [attr.aria-label]="'APP.COPY.LABEL' | translate"
          [pTooltip]="'ACTIONS.COPY.LABEL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></a>
        <a
          *ngIf="hasDeletePermission"
          tabindex="0"
          [id]="'ps_product_apps_components_mfe_' + mfe.appId + '_delete'"
          class="card-badge-left badge-2 p-2 pi pi-trash danger-action-text button-icon-only"
          (click)="onDelete($event, mfe, AppType.MFE)"
          (keydown.enter)="onDelete($event, mfe, AppType.MFE)"
          (keydown.space)="onDelete($event, mfe, AppType.MFE)"
          [attr.aria-label]="'APP.DELETE.LABEL' | translate"
          [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></a>
        <span
          *ngIf="mfe?.undeployed"
          [id]="'ps_product_apps_components_mfe_' + mfe.appId + '_undeployed'"
          class="card-badge-right badge-1 pi pi-ban danger-action-text font-bold cursor-auto"
          [attr.aria-label]="'APP.UNDEPLOYED' | translate"
          [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></span>
        <span
          *ngIf="mfe?.deprecated && !mfe?.undeployed"
          [id]="'ps_product_apps_components_mfe_' + mfe.appId + '_deprecated'"
          class="card-badge-right badge-1 pi pi-exclamation-circle danger-action-text font-bold cursor-auto"
          [attr.aria-label]="'APP.DEPRECATED' | translate"
          [pTooltip]="'APP.TOOLTIPS.DEPRECATED_SEARCH' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></span>
        <span
          [id]="'ps_product_apps_components_mfe_' + mfe.appId + '_icon'"
          class="card-badge-right badge-2 p-2 pi cursor-auto"
          [ngClass]="'pi-' + mfe.iconName"
          [attr.aria-label]="'Icon'"
          [pTooltip]="'Icon'"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></span>
        <!-- CONTENT -->
        <div class="flex flex-column justify-content-between gap-1 text-center">
          <div
            class="font-bold text-responsive"
            [attr.aria-label]="'APP.APP_ID' | translate"
            [pTooltip]="mfe.appId.length <= 25 ? '' : mfe.appId"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ mfe.appId }}
          </div>
          <div
            class="text-sm text-responsive"
            [attr.aria-label]="'APP.EXPOSED_MODULE' | translate"
            [pTooltip]="mfe.exposedModule && mfe.exposedModule.length <= 25 ? '' : (mfe.exposedModule ?? '')"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ mfe.exposedModule ?? '' }}
          </div>
          <app-ocx-chip
            [id]="'ps_product_apps_components_mfe_' + mfe.appId + '_type'"
            class="py-1"
            [styleClass]="mfe.type === 'MODULE' ? 'bg-primary' : ''"
            [label]="mfe.type"
            [title]="'APP.TOOLTIPS.TYPE' | translate"
          />
        </div>
      </a>
    </div>
  </p-fieldset>

  <p-fieldset
    *ngIf="details.microservices && details.microservices.length > 0"
    [toggleable]="false"
    [collapsed]="false"
    styleClass="surface-100 py-0"
  >
    <ng-template pTemplate="header">
      <span [pTooltip]="'DIALOG.COMPONENTS.TOOLTIPS.MS' | translate" tooltipPosition="top" tooltipEvent="hover">
        {{ 'DIALOG.COMPONENTS.MS' | translate }}
      </span>
    </ng-template>
    <div class="flex flex-row flex-wrap column-gap-3 sm:column-gap-4 row-gap-2 sm:row-gap-3">
      <ng-container *ngFor="let ms of details.microservices.sort(sortMssByAppId)">
        <a
          class="card relative w-full sm:w-21rem m-0 py-2 px-5 flex flex-column justify-content-center hover:bg-gray-200 hover:text-color cursor-pointer"
          (click)="onDetail($event, ms, AppType.MS)"
        >
          <!-- BADGES -->
          <a
            *ngIf="hasCreatePermission"
            tabindex="0"
            [id]="'ps_product_apps_components_ms_' + ms.appId + '_copy_app'"
            class="card-badge-left badge-1 pi pi-copy button-icon-only"
            (click)="onCopy($event, ms, AppType.MS)"
            [pTooltip]="'ACTIONS.COPY.LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <a
            *ngIf="hasDeletePermission"
            tabindex="0"
            [id]="'ps_product_apps_components_ms_' + ms.appId + '_delete'"
            class="card-badge-left badge-2-1 p-2 pi pi-trash danger-action-text button-icon-only"
            (click)="onDelete($event, ms, AppType.MS)"
            [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <span
            *ngIf="ms?.undeployed"
            [id]="'ps_product_apps_components_ms_' + ms.appId + '_undeployed'"
            class="card-badge-right badge-1 pi pi-ban danger-action-text font-bold cursor-auto"
            [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <!-- CONTENT -->
          <div class="h-2-5rem flex flex-column justify-content-around text-center">
            <div
              class="font-bold text-responsive"
              [pTooltip]="ms.appId && ms.appId.length <= 25 ? '' : (ms.appId ?? '')"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ ms.appId }}
            </div>
            <div
              class="text-responsive"
              [pTooltip]="'APP.TOOLTIPS.APP_VERSION' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ ms.appVersion }}
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </p-fieldset>

  <p-fieldset
    *ngIf="details.slots && details.slots.length > 0"
    [toggleable]="false"
    [collapsed]="false"
    styleClass="surface-100 py-0 mx-0 mt-3"
  >
    <ng-template pTemplate="header">
      <span [pTooltip]="'DIALOG.COMPONENTS.TOOLTIPS.SLOT' | translate" tooltipPosition="top" tooltipEvent="hover">
        {{ 'DIALOG.COMPONENTS.SLOT' | translate }}
      </span>
    </ng-template>
    <div class="flex flex-row flex-wrap column-gap-3 sm:column-gap-4 row-gap-2 sm:row-gap-3">
      <ng-container *ngFor="let slot of details.slots.sort(sortSlotsByName)">
        <div class="card relative w-full sm:w-21rem m-0 py-0 px-0 flex flex-column justify-content-center">
          <!-- BADGES -->
          <a
            *ngIf="hasDeletePermission"
            tabindex="0"
            [id]="'ps_product_apps_components_slot_' + slot.appId + '_delete'"
            class="card-badge-left badge-2-1 p-2 pi pi-trash danger-action-text button-icon-only"
            (click)="onSlotDelete($event, slot)"
            [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <span
            *ngIf="slot?.undeployed"
            [id]="'ps_product_apps_components_slot_' + slot.name + '_undeployed'"
            class="card-badge-right badge-1 pi pi-ban danger-action-text cursor-auto"
            [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <span
            *ngIf="slot?.deprecated && !slot?.undeployed"
            [id]="'ps_product_apps_components_slot_' + slot.appId + '_deprecated'"
            class="card-badge-right badge-1 pi pi-exclamation-circle danger-action-text cursor-auto"
            [pTooltip]="'APP.TOOLTIPS.DEPRECATED_SEARCH' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <!-- CONTENT -->
          <div class="h-2-5rem my-2 mx-6 flex flex-column justify-content-around text-center">
            <div
              class="font-bold text-responsive"
              [pTooltip]="slot.name.length <= 25 ? '' : slot.name"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ slot.name }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </p-fieldset>
</div>

<app-app-detail
  [displayDialog]="displayDetailDialog"
  [appAbstract]="app"
  [changeMode]="changeMode"
  (appChanged)="appChanged($event)"
></app-app-detail>

<app-app-delete
  [displayDialog]="displayDeleteDialog"
  [appAbstract]="app"
  (appDeleted)="appDeleted($event)"
></app-app-delete>

<app-slot-delete
  [displayDialog]="displaySlotDeleteDialog"
  [slot]="slot"
  (slotDeleted)="slotDeleted($event)"
></app-slot-delete>
