@use '/src/app/_ps-mixins.scss' as *;

@include card-badges;
@include danger-action;
@include ocx-text-responsive;
@include correct-data-view-control;
@include correct-select-button;
@include correct-search-criteria;
@include search-criteria-select-button;
@include search-criteria-select-button-slim;

:host ::ng-deep {
  ocx-search-header [aria-label='Search Criteria'] #ps_app_search_criteria_app_name,
  ocx-search-header [aria-label='Search Criteria'] #ps_app_search_criteria_product_name {
    height: 3rem;
  }

  ocx-interactive-data-view
    #interactiveDataViewHeader
    > div.flex.flex-wrap.justify-content-between.align-items-center.py-1.gap-2
    > div:nth-child(2) {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
  }

  .app-search-top-center {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 1rem;
    align-items: center;
  }

  .app-search-quick-filter {
    justify-self: start;
  }

  .tm-filter-clear {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h-05rem {
    height: 0.5rem;
  }
  .card-badge-left,
  .card-badge-right {
    &.badge-2 {
      top: 39px;
    }
  }

  .p-dataview-grid .p-dataview-content .grid {
    gap: 0 !important;
  }
  .p-dataview-grid .p-dataview-content .grid .card {
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }
}

@media screen and (max-width: 768px) {
  @include tm-filter-group;

  .app-search-top-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
