<ocx-portal-page permission="APP#SEARCH" helpArticleId="PAGE_APP_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.APPS.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.APPS.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div [formGroup]="appSearchCriteriaGroup" class="flex flex-wrap gap-4 row-gap-3 px-2">
      <span class="p-float-label">
        <input
          pInputText
          id="app_search_app_id"
          type="text"
          class="w-18rem"
          [clear]="true"
          [title]="'APP.TOOLTIPS.APP_ID' | translate"
          formControlName="appId"
        />
        <label for="app_search_app_id">{{ 'APP.APP_ID' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          pInputText
          id="app_search_criteria_product_name"
          type="text"
          class="w-18rem"
          [clear]="true"
          [title]="'APP.TOOLTIPS.PRODUCT_NAME' | translate"
          formControlName="productName"
        />
        <label for="app_search_criteria_product_name">{{ 'APP.PRODUCT_NAME' | translate }}</label>
      </span>
      <div class="flex flex-wrap align-items-center ml-1 gap-2">
        <div
          class="p-selectbutton-title opacity-90 text-sm"
          [title]="'ACTIONS.SEARCH.APP.QUICK_FILTER.TOOLTIP' | translate"
        >
          {{ 'ACTIONS.SEARCH.APP.FILTER.TOOLTIP' | translate }}
        </div>
        <div class="slim-selectbutton search-criteria-selectbutton">
          <p-selectButton
            inputid="app_search_criteria_app_type"
            [options]="appTypeItems"
            formControlName="appType"
            [title]="'ACTIONS.SEARCH.APP.FILTER.TOOLTIP' | translate"
          >
            <ng-template let-item>{{ item.value }}</ng-template>
          </p-selectButton>
          <div class="p-selectbutton-subtitle">
            {{ 'ACTIONS.SEARCH.APP.QUICK_FILTER.' + appSearchCriteriaGroup.controls['appType'].value | translate }}
          </div>
        </div>
      </div>
    </div>
  </ocx-search-header>

  <ocx-page-content>
    <div *ngIf="exceptionKey" id="app_search_criteria_error" class="card px-3 align-items-center">
      <p-message
        id="app_search_criteria_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      id="product_search_dataview"
      [value]="(apps$ | async) ?? []"
      [paginator]="true"
      [alwaysShowPaginator]="false"
      [rowsPerPageOptions]="'grid' ? [24, 48, 96] : [10, 20, 50]"
      [rows]="viewMode === 'grid' ? 24 : 10"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      [filterBy]="filterValueDefault"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template pTemplate="header">
        <div class="flex flex-wrap align-items-center mx-1">
          <div class="flex flex-wrap align-items-center ml-1 gap-2">
            <div
              class="p-selectbutton-title data-view-control opacity-90 text-sm"
              [title]="'ACTIONS.SEARCH.APP.QUICK_FILTER.TOOLTIP' | translate"
            >
              {{ 'ACTIONS.SEARCH.APP.FILTER.TOOLTIP' | translate }}
            </div>
            <div class="slim-selectbutton filter-selectbutton">
              <p-selectButton
                inputid="app_search_quick_filter"
                styleClass="data-view-control opacity-90a"
                [options]="quickFilterItems"
                [(ngModel)]="quickFilterValue"
                (onChange)="onQuickFilterChange($event)"
              >
                <ng-template let-item>{{ item.value }}</ng-template>
              </p-selectButton>
              <div class="p-selectbutton-subtitle">
                {{ 'ACTIONS.SEARCH.APP.QUICK_FILTER.' + quickFilterValue | translate }}
              </div>
            </div>
          </div>
          <ocx-data-view-controls
            class="flex-grow-1"
            [supportedViews]="['grid']"
            [initialViewMode]="viewMode"
            [enableFiltering]="true"
            (filterChange)="onFilterChange($event)"
            [filterColumns]="[
              'APP.APP_ID' | translate,
              'APP.APP_TYPE' | translate,
              'APP.PRODUCT_NAME' | translate,
              'APP.CLASSIFICATIONS' | translate
            ]"
            [enableSorting]="true"
            [defaultSortOption]="sortField"
            [defaultSortDirection]="sortOrder === -1"
            [sortingOptions]="[
              { label: 'APP.APP_ID' | translate, value: 'appId' },
              { label: 'APP.APP_TYPE' | translate, value: 'appType' },
              { label: 'APP.PRODUCT_NAME' | translate, value: 'productName' }
            ]"
            (dataViewChange)="onLayoutChange($event)"
            (sortChange)="onSortChange($event)"
            (sortDirectionChange)="onSortDirChange($event)"
            [translations]="dataViewControlsTranslations"
          >
          </ocx-data-view-controls>
        </div>
      </ng-template>
      <ng-template let-app pTemplate="gridItem">
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-3" (click)="onDetail($event, app)">
          <div
            class="card relative p-1 flex flex-column justify-content-center hover:bg-gray-200 hover:text-color cursor-pointer"
            [class.bg-primary]="app.appType === 'MFE'"
          >
            <span
              *ngIf="!app.operator && hasCreatePermission"
              [id]="'app_search_data_' + app.appId + '_copy_app'"
              class="card-badge-left badge-1 p-2 pi pi-copy pseudo-button-link"
              [title]="'ACTIONS.COPY.LABEL' | translate"
              (click)="onCopy($event, app)"
            ></span>
            <span
              *ngIf="(!app.operator || app.undeployed) && hasDeletePermission"
              [id]="'app_search_data_' + app.appId + '_delete_app'"
              class="card-badge-left badge-2 p-2 pi pi-trash danger-action-text pseudo-button-link"
              [title]="'ACTIONS.DELETE.LABEL' | translate"
              (click)="onDelete($event, app)"
            ></span>
            <span
              *ngIf="!(app?.deprecated || app?.undeployed)"
              [id]="'app_search_data_' + app.appId + '_goto_product'"
              class="card-badge-right badge-1 p-2 pi pi-external-link pseudo-button-link"
              [title]="'ACTIONS.NAVIGATION.LINKS.GOTO.PRODUCT' | translate"
              (click)="onGotoProduct($event, app.productName)"
            ></span>
            <span
              *ngIf="app?.undeployed"
              [id]="'app_search_data_' + app.appId + '_undeployed'"
              class="card-badge-right badge-1 p-2 pi pi-ban danger-action-bg cursor-auto"
              [title]="'APP.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
            ></span>
            <span
              *ngIf="app?.deprecated && !app?.undeployed"
              [id]="'app_search_data_' + app.appId + '_deprecated'"
              class="card-badge-right badge-1 p-2 pi pi-exclamation-circle danger-action-bg cursor-auto"
              [title]="'APP.TOOLTIPS.DEPRECATED_SEARCH' | translate"
            ></span>
            <span
              *ngIf="app.appType === 'MFE'"
              [id]="'app_search_data_icon'"
              class="card-badge-right badge-2 p-2 pi cursor-auto"
              [ngClass]="'pi-' + app.iconName"
              title="Icon"
            ></span>
            <div class="h-4rem flex flex-column justify-content-between gap-1 text-center">
              <div class="font-bold" [title]="'APP ID: ' + app.appId">{{ limitText(app.appId, 25) }}</div>
              <div *ngIf="app.appType === 'MS'" class="text-sm" [title]="'APP.APP_TYPE' | translate">
                {{ app.appTypeKey | translate }}
              </div>
              <div *ngIf="app.appType === 'MFE'" class="text-sm" title="Microfrontend - Exposed Module">
                {{ app.exposedModule }}
              </div>
              <div [title]="'Product: ' + app.productName">{{ limitText(app.productName, 25) }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<app-app-detail
  [displayDialog]="displayDetailDialog"
  [appAbstract]="app"
  [changeMode]="changeMode"
  (appChanged)="appChanged($event)"
></app-app-detail>
<app-app-delete
  [displayDialog]="displayDeleteDialog"
  [appAbstract]="app"
  (appDeleted)="appDeleted($event)"
></app-app-delete>
