<ocx-portal-page permission="APP#SEARCH" helpArticleId="PAGE_APP_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.APPS.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.APPS.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div [formGroup]="appSearchCriteriaGroup" class="flex flex-wrap gap-4 row-gap-3 md:px-2">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          id="ps_app_search_criteria_app_id"
          class="w-11rem sm:w-15rem text-responsive"
          formControlName="appId"
          [attr.aria-label]="'APP.APP_ID' | translate"
          [pTooltip]="'APP.TOOLTIPS.APP_ID' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ps_app_search_criteria_app_id">{{ 'APP.APP_ID' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          id="ps_app_search_criteria_product_name"
          class="w-11rem sm:w-15rem text-responsive"
          formControlName="productName"
          [attr.aria-label]="'APP.PRODUCT_NAME' | translate"
          [pTooltip]="'APP.TOOLTIPS.PRODUCT_NAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ps_app_search_criteria_product_name">{{ 'APP.PRODUCT_NAME' | translate }}</label>
      </span>
      <div class="slim-selectbutton search-criteria-selectbutton">
        <p-selectButton
          inputid="ps_app_search_criteria_app_type"
          formControlName="appType"
          [options]="appTypeItems"
          (onChange)="onAppTypeFilterChange($event)"
          [ariaLabel]="'ACTIONS.SEARCH.APP.FILTER.LABEL' | translate"
          [pTooltip]="'ACTIONS.SEARCH.APP.FILTER.TOOLTIP' | translate"
        >
          <ng-template let-item pTemplate
            ><span
              [id]="'ps_app_search_criteria_app_type_' + item.value"
              [pTooltip]="item.label | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ 'ACTIONS.SEARCH.APP.FILTER.' + item.value | translate }}</span
            ></ng-template
          >
        </p-selectButton>
        <div
          class="p-selectbutton-subtitle flex flex-row flex-nowrap column-gap-3 opacity-90"
          [pTooltip]="'ACTIONS.SEARCH.APP.FILTER.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <span> {{ 'ACTIONS.SEARCH.APP.FILTER.LABEL' | translate }}: </span>
          <span> {{ 'ACTIONS.SEARCH.APP.QUICK_FILTER.' + appTypeFilterValue | translate }}</span>
        </div>
      </div>
    </div>
  </ocx-search-header>

  <ocx-page-content>
    <div *ngIf="exceptionKey" id="ps_app_search_criteria_error" class="card px-3 align-items-center">
      <p-message
        id="ps_app_search_criteria_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      id="ps_app_search_dataview"
      [value]="(apps$ | async) ?? []"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="viewMode === 'grid' ? [20, 40, 100] : [10, 40, 100]"
      [rows]="viewMode === 'grid' ? 20 : 10"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      [filterBy]="filterValueDefault"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="header">
        <div class="flex flex-wrap align-items-center mx-1">
          <div class="slim-selectbutton search-criteria-selectbutton">
            <p-selectButton
              inputid="ps_app_search_quick_filter"
              styleClass=""
              [options]="quickFilterItems"
              [(ngModel)]="quickFilterValue"
              (onChange)="onQuickFilterChange($event)"
              [ariaLabel]="'ACTIONS.SEARCH.APP.FILTER.LABEL' | translate"
              [pTooltip]="'ACTIONS.SEARCH.APP.FILTER.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <ng-template let-item pTemplate>
                <span
                  [id]="'ps_app_search_quick_filter_' + item.value"
                  [pTooltip]="item.label | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ 'ACTIONS.SEARCH.APP.FILTER.' + item.value | translate }}
                </span>
              </ng-template>
            </p-selectButton>
            <div
              class="p-selectbutton-subtitle flex flex-row flex-nowrap column-gap-3 opacity-80"
              [pTooltip]="'ACTIONS.SEARCH.APP.QUICK_FILTER.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span> {{ 'ACTIONS.SEARCH.APP.FILTER.LABEL' | translate }}: </span>
              <span> {{ 'ACTIONS.SEARCH.APP.QUICK_FILTER.' + quickFilterValue | translate }}</span>
            </div>
          </div>
          <ocx-data-view-controls
            class="flex-grow-1"
            [supportedViews]="['grid']"
            [initialViewMode]="viewMode"
            [enableFiltering]="true"
            (filterChange)="onFilterChange($event)"
            [filterColumns]="[
              'APP.APP_ID' | translate,
              'APP.APP_TYPE' | translate,
              'APP.PRODUCT_NAME' | translate,
              'APP.CLASSIFICATIONS' | translate
            ]"
            [enableSorting]="true"
            [defaultSortOption]="sortField"
            [defaultSortDirection]="sortOrder === -1"
            [sortingOptions]="[
              { label: 'APP.APP_ID' | translate, value: 'appId' },
              { label: 'APP.APP_TYPE' | translate, value: 'appType' },
              { label: 'APP.PRODUCT_NAME' | translate, value: 'productName' },
              { label: 'APP.UNDEPLOYED' | translate, value: 'undeployed' },
              { label: 'APP.DEPRECATED' | translate, value: 'deprecated' }
            ]"
            (dataViewChange)="onLayoutChange($event)"
            (sortChange)="onSortChange($event)"
            (sortDirectionChange)="onSortDirChange($event)"
            [translations]="(dataViewControlsTranslations$ | async) ?? {}"
          >
          </ocx-data-view-controls>
        </div>
      </ng-template>

      <ng-template let-apps pTemplate="gridItem">
        <div class="p-grid p-nogutter grid grid-nogutter">
          <div *ngFor="let app of apps" class="col-6 md:col-4 lg:col-4 xl:col-3 p-2 md:px-3">
            <a
              tabindex="0"
              [id]="'ps_app_search_data_' + app.appId"
              class="card block relative p-1 px-5 flex flex-column justify-content-center hover:bg-gray-200 hover:text-color cursor-pointer"
              (click)="onDetail($event, app)"
            >
              <!-- BADGES -->
              <a
                tabindex="0"
                *ngIf="hasCreatePermission"
                [id]="'ps_app_search_data_' + app.appId + '_copy_app'"
                class="card-badge-left badge-1 p-2 pi pi-copy button-icon-only"
                (click)="onCopy($event, app)"
                [pTooltip]="'ACTIONS.COPY.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></a>
              <a
                tabindex="0"
                *ngIf="hasDeletePermission"
                [id]="'ps_app_search_data_' + app.appId + '_delete_app'"
                class="card-badge-left badge-2 p-2 pi pi-trash danger-action-text button-icon-only"
                (click)="onDelete($event, app)"
                [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></a>
              <a
                tabindex="0"
                *ngIf="!(app?.deprecated || app?.undeployed)"
                [id]="'ps_app_search_data_' + app.appId + '_goto_product'"
                class="card-badge-right badge-1 p-2 pi pi-external-link button-icon-only"
                (click)="onGotoProduct($event, app.productName)"
                [pTooltip]="'ACTIONS.NAVIGATION.LINKS.GOTO.PRODUCT' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></a>
              <span
                *ngIf="app?.undeployed"
                [id]="'ps_app_search_data_' + app.appId + '_undeployed'"
                class="card-badge-right badge-1 p-2 pi pi-ban danger-action-text font-bold cursor-auto"
                [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <span
                *ngIf="app?.deprecated && !app?.undeployed"
                [id]="'ps_app_search_data_' + app.appId + '_deprecated'"
                class="card-badge-right badge-1 p-2 pi pi-exclamation-circle danger-action-text font-bold cursor-auto"
                [pTooltip]="'APP.TOOLTIPS.DEPRECATED_SEARCH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <span
                *ngIf="app.appType === 'MFE'"
                [id]="'ps_app_search_data_' + app.appId + '_icon'"
                class="card-badge-right badge-2 p-2 pi cursor-auto"
                [ngClass]="'pi-' + app.iconName"
                [pTooltip]="'Icon'"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <!-- CONTENT -->
              <div class="h-4rem flex flex-column justify-content-between gap-1 text-center">
                <div
                  [id]="'ps_app_search_data_' + app.appId + '_app_id'"
                  class="font-bold text-responsive"
                  [pTooltip]="app.appId.length <= 15 ? '' : app.appId"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ app.appId }}
                </div>
                <div
                  *ngIf="app.appType === 'MS'"
                  [id]="'ps_app_search_data_' + app.appId + '_app_type_key'"
                  class="text-xs sm:text-sm text-responsive"
                  [pTooltip]="('APP.TOOLTIPS.MS' | translate) + ': ' + ('APP.APP_VERSION' | translate)"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ app.appVersion }}
                </div>
                <div
                  *ngIf="app.appType === 'MFE'"
                  [id]="'ps_app_search_data_' + app.appId + '_app_type_key'"
                  class="text-xs text-responsive"
                  [pTooltip]="app.exposedModule.length <= 25 ? '' : app.exposedModule"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ app.exposedModule }}
                </div>
                <div
                  *ngIf="app.appType === 'MFE'"
                  [id]="'ps_app_search_data_' + app.appId + '_app_version'"
                  class="text-xs text-responsive"
                >
                  {{ app.appVersion }}
                </div>
                <div
                  [id]="'ps_app_search_data_' + app.appId + '_product_name'"
                  class="text-xs text-responsive"
                  [pTooltip]="('APP.PRODUCT_NAME' | translate) + (app.productName.length <= 25 ? '' : app.productName)"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ app.productName }}
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<app-app-detail
  [displayDialog]="displayDetailDialog"
  [appAbstract]="app"
  [changeMode]="changeMode"
  (appChanged)="appChanged($event)"
></app-app-detail>

<app-app-delete
  [displayDialog]="displayDeleteDialog"
  [appAbstract]="app"
  (appDeleted)="appDeleted($event)"
></app-app-delete>
