<p-dialog
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [header]="appAbstract?.appType ? ('ACTIONS.DELETE.' + appAbstract?.appType + '.HEADER' | translate) : ''"
  [modal]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div id="ps_app_delete_message" class="font-bold">
        {{ ('ACTIONS.DELETE.MESSAGE' | translate).replace("{{ITEM}}", appAbstract?.appId ?? '') }}
      </div>
      <div class="mt-3" *ngIf="appAbstract?.operator">{{ 'ACTIONS.DELETE.APP.OPERATOR_TEXT' | translate }}</div>
      <div class="mt-3">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ps_app_delete_button_no"
        icon="pi pi-times"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        (onClick)="onDialogHide()"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ps_app_delete_button_yes"
        icon="pi pi-check"
        (onClick)="onConfirmDeletion()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
