@use '/src/app/_ps-mixins.scss' as *;

@include card-badges;
@include danger-action;
@include ocx-p-message;
@include ocx-text-responsive;
@include ocx-interactive-data-view-fixes;

:host ::ng-deep {
  .ocx-content > div {
    margin-bottom: 0 !important;
    padding: 0.75rem 0.5rem !important;
  }

  /* special handling for zebra look on table rows */

  .p-datatable {
    .p-datatable-thead > tr:nth-child(1) > th {
      border-bottom-width: 2px;
    }
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr > td {
      padding: 0.5rem;
    }
    .p-datatable-tbody {
      tr td.bg-inherit {
        background-color: var(--table-body-row-bg) !important;
      }
    }
  }

  .p-datatable-thead > tr > th:first-child,
  .p-datatable-tbody > tr > td:first-child {
    border-right: 1px solid var(--surface-border, #dee2e6);
    white-space: nowrap;
    /*text-align: center;*/
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  // keep sortable header title and icon on one line
  ocx-interactive-data-view .table-header-wrapper {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 0.35rem;
    height: auto !important;
  }

  .max-height-for-2-lines {
    max-height: 2.5rem;
  }
  .text-ellipsis-2-lines {
    @include displaying-text-ellipsis(2);
  }
  .bookmark-link:hover {
    background: var(--tabview-header-hover-bg);
    border-color: var(--tabview-header-hover-border-color);
    color: var(--text-secondary-color);
  }
}
