<form [formGroup]="formGroup">
  <div class="mt-3 px-2 surface-section flex flex-column row-gap-4">
    <!-- row 1 -->
    <div class="flex flex-row flex-wrap gap-4">
      <div class="flex-grow-1">
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="ps_product_detail_form_field_name"
            formControlName="name"
            [attr.aria-label]="'PRODUCT.NAME' | translate"
            [pTooltip]="'PRODUCT.TOOLTIPS.NAME' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ps_product_detail_form_field_name">
            {{ 'PRODUCT.NAME' | translate }}</label
          >
        </span>
        <!-- Custom validator message -->
        <div *ngIf="this.formGroup.controls['name'].errors?.['invalidProductName']">
          <label class="control-error" for="ps_product_detail_form_field_name">
            {{ 'VALIDATION.PRODUCT.INVALID_NAME' | translate }}</label
          >
        </div>
      </div>
      <span class="flex-grow-1 p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-full text-responsive"
          id="ps_product_detail_form_field_version"
          formControlName="version"
          [attr.aria-label]="'PRODUCT.VERSION' | translate"
          [pTooltip]="'PRODUCT.TOOLTIPS.VERSION' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ps_product_detail_form_field_version">
          {{ 'PRODUCT.VERSION' | translate }}</label
        >
      </span>
    </div>

    <!-- row 2 -->
    <div class="flex flex-row flex-wrap gap-4">
      <span class="flex-grow-1 p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-full text-responsive"
          id="ps_product_detail_form_field_display_name"
          formControlName="displayName"
          [attr.aria-label]="'PRODUCT.DISPLAY_NAME' | translate"
          [pTooltip]="'PRODUCT.TOOLTIPS.DISPLAY_NAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ps_product_detail_form_field_display_name">
          {{ 'PRODUCT.DISPLAY_NAME' | translate }}</label
        >
      </span>
      <span class="flex-grow-1 p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-full text-responsive"
          id="ps_product_detail_form_field_basePath"
          formControlName="basePath"
          [attr.aria-label]="'PRODUCT.BASE_PATH' | translate"
          [pTooltip]="'PRODUCT.TOOLTIPS.BASE_PATH' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ps_product_detail_form_field_basePath">
          {{ 'PRODUCT.BASE_PATH' | translate }}</label
        >
      </span>
    </div>

    <!-- row 3 -->
    <div class="flex flex-row flex-wrap sm:flex-nowrap align-items-center row-gap-2 column-gap-4">
      <input hidden type="file" accept="image/*" #selectedFileInputLogo (change)="onFileUpload($event)" />
      <app-image-container
        id="ps_product_detail_form_field_logo"
        [small]="true"
        [imageUrl]="fetchingLogoUrl"
      ></app-image-container>
      <button
        pButton
        id="ps_product_detail_form_field_logo_upload"
        icon="pi pi-upload"
        class="action-button p-button-icon-only"
        [class.cursor-pointer]="changeMode === 'EDIT'"
        [disabled]="changeMode === 'VIEW'"
        (click)="selectedFileInputLogo.click()"
        [attr.aria-label]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
      <div class="flex-grow-1 flex flex-column row-gap-1">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="ps_product_detail_form_field_image_url"
            formControlName="imageUrl"
            (paste)="onInputChange(product, $event)"
            (change)="onInputChange(product, $event)"
            [attr.aria-label]="'IMAGE.TOOLTIPS.URL' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_product_detail_form_field_image_url">{{ 'PRODUCT.IMAGE_URL' | translate }}</label>
        </span>
        <label *ngIf="changeMode === 'EDIT'" class="ocx-control-hint block" for="workspace_detail_form_logo_url">
          {{ ('VALIDATION.HINTS.FORMAT_URL' | translate) + externUrlPattern }}
        </label>
      </div>
    </div>

    <!-- row 4 -->
    <div class="flex flex-row flex-wrap gap-4">
      <span class="flex-grow-1 p-float-label" controlErrorAnchor>
        <p-dropdown
          id="ps_product_detail_form_field_icon_name"
          styleClass="w-full min-w-min input-field-correction"
          formControlName="iconName"
          [options]="iconItems"
          [ariaLabel]="'PRODUCT.ICON_NAME' | translate"
          [pTooltip]="'PRODUCT.TOOLTIPS.ICON_NAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          [showClear]="true"
        >
          >
          <ng-template let-ico pTemplate="selectedItem">
            <div class="flex">
              <span class="font-bold pi pi-{{ ico.value }} mr-3"> </span>
              <span>{{ ico.label }}</span>
            </div>
          </ng-template>
          <ng-template let-ico pTemplate="item">
            <div class="flex">
              <span class="pi pi-{{ ico.value }} mr-3"> </span>
              <span>{{ ico.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
        <label for="ps_product_detail_form_field_icon_name">{{ 'PRODUCT.ICON_NAME' | translate }}</label>
      </span>
      <span class="flex-grow-1 p-float-label">
        <input
          pInputText
          type="text"
          class="w-full text-responsive"
          id="ps_product_detail_form_field_classifications"
          formControlName="classifications"
          [attr.aria-label]="'PRODUCT.CLASSIFICATIONS' | translate"
          [pTooltip]="'PRODUCT.TOOLTIPS.CLASSIFICATIONS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ps_product_detail_form_field_classifications">{{ 'PRODUCT.CLASSIFICATIONS' | translate }}</label>
      </span>
    </div>

    <!-- row 5 -->
    <span class="flex-grow-1 p-float-label">
      <textarea
        pInputTextarea
        class="w-full"
        autoresize="true"
        rows="1"
        id="ps_product_detail_form_field_provider"
        [pTooltip]="'PRODUCT.PROVIDER' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
        formControlName="provider"
        [attr.aria-label]="'PRODUCT.PROVIDER' | translate"
        [pTooltip]="'PRODUCT.TOOLTIPS.PROVIDER' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></textarea>
      <label for="ps_product_detail_form_field_provider">{{ 'PRODUCT.PROVIDER' | translate }}</label>
    </span>

    <!-- row 6 -->
    <span class="flex-grow-1 p-float-label">
      <textarea
        pInputTextarea
        class="w-full"
        autoresize="true"
        rows="3"
        id="ps_product_detail_form_field_description"
        formControlName="description"
        [attr.aria-label]="'PRODUCT.DESCRIPTION' | translate"
        [pTooltip]="'PRODUCT.TOOLTIPS.DESCRIPTION' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></textarea>
      <label for="ps_product_detail_form_field_description">{{ 'PRODUCT.DESCRIPTION' | translate }}</label>
    </span>
  </div>
</form>
