<ocx-portal-page *ngIf="product$ | async as product" permission="PRODUCT#VIEW" helpArticleId="PAGE_PRODUCT_DETAIL">
  <ocx-page-header
    [loading]="loading"
    [header]="product?.displayName"
    [subheader]="('DIALOG.DETAIL.SUBHEADER' | translate) + ': ' + ('ACTIONS.' + changeMode + '.LABEL' | translate)"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>

  <ocx-content>
    <p-message
      *ngIf="loading && !exceptionKey"
      id="ps_product_detail_loading_message"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="ps_product_detail_error_message"
      severity="error"
      styleClass="m-3"
      [text]="exceptionKey | translate"
    ></p-message>

    <p-tabs
      *ngIf="(product && !exceptionKey) || changeMode === 'CREATE'"
      [value]="selectedTabIndex"
      (valueChange)="onTabChange($event, product)"
    >
      <p-tablist>
        <p-tab [value]="0" [attr.aria-label]="'DIALOG.TABS.PROPERTIES' | translate">
          <span [pTooltip]="'DIALOG.TABS.TOOLTIPS.PROPERTIES' | translate" tooltipPosition="top" tooltipEvent="hover">
            {{ 'DIALOG.TABS.PROPERTIES' | translate }}
          </span>
        </p-tab>

        <p-tab [value]="1" [disabled]="changeMode !== 'VIEW'" [attr.aria-label]="'DIALOG.TABS.APPS' | translate">
          <span [pTooltip]="'DIALOG.TABS.TOOLTIPS.APPS' | translate" tooltipPosition="top" tooltipEvent="hover">
            {{ 'DIALOG.TABS.APPS' | translate }}
          </span>
        </p-tab>

        <p-tab [value]="2" [disabled]="changeMode !== 'VIEW'" [attr.aria-label]="'DIALOG.TABS.USE' | translate">
          <span [pTooltip]="'DIALOG.TABS.TOOLTIPS.USE' | translate" tooltipPosition="top" tooltipEvent="hover">
            {{ 'DIALOG.TABS.USE' | translate }}
          </span>
        </p-tab>

        <p-tab
          [value]="3"
          [disabled]="['CREATE', 'COPY'].includes(changeMode)"
          [attr.aria-label]="'DIALOG.TABS.INTERN' | translate"
        >
          <span [pTooltip]="'DIALOG.TABS.TOOLTIPS.INTERN' | translate" tooltipPosition="top" tooltipEvent="hover">
            {{ 'DIALOG.TABS.INTERN' | translate }}
          </span>
        </p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel [value]="0">
          <app-product-props
            [product]="product"
            [changeMode]="changeMode"
            (currentLogoUrl)="currentLogoUrl = $event"
          ></app-product-props>
        </p-tabpanel>

        <p-tabpanel [value]="1">
          <app-product-apps
            *ngIf="product && selectedTabIndex === 1"
            [product]="product_for_apps"
            [changeMode]="changeMode"
          ></app-product-apps>
        </p-tabpanel>

        <p-tabpanel [value]="2">
          <app-product-use *ngIf="product && selectedTabIndex === 2" [productName]="product.name"></app-product-use>
        </p-tabpanel>

        <p-tabpanel [value]="3">
          <app-product-intern
            [product]="product"
            [editMode]="changeMode === 'EDIT'"
            [dateFormat]="dateFormat"
          ></app-product-intern>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </ocx-content>
</ocx-portal-page>

<p-dialog
  [header]="'ACTIONS.DELETE.PRODUCT.HEADER' | translate"
  [(visible)]="productDeleteVisible"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '500px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div id="ps_product_delete_message" class="font-bold">{{ 'ACTIONS.DELETE.PRODUCT.MESSAGE' | translate }}</div>
      <div id="ps_product_delete_product_name" class="my-2 font-bold danger-action-text text-center">
        {{ item4Delete?.name }}
      </div>
      <div *ngIf="item4Delete?.operator">{{ 'ACTIONS.DELETE.PRODUCT.OPERATOR_TEXT' | translate }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ps_product_delete_action_no"
        icon="pi pi-times"
        (onClick)="productDeleteVisible = false"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ps_product_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
