<ocx-portal-page permission="PRODUCT#VIEW" helpArticleId="PAGE_PRODUCT_DETAIL">
  <ocx-page-header
    [loading]="loading"
    [header]="product?.displayName"
    [subheader]="('DIALOG.DETAIL.SUBHEADER' | translate) + ': ' + ('ACTIONS.' + changeMode + '.LABEL' | translate)"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>
  <ocx-page-content>
    <div *ngIf="!loading && !product && changeMode !== 'CREATE'" class="card px-3 align-items-center">
      <p-message
        id="ps_product_detail_message_not_exists"
        severity="error"
        styleClass="p-2"
        [text]="'ACTIONS.SEARCH.PRODUCT.NOT_EXISTS' | translate"
      ></p-message>
    </div>
    <p-tabView
      *ngIf="(product && !loading) || changeMode === 'CREATE'"
      (onChange)="onTabChange($event)"
      [activeIndex]="selectedTabIndex"
    >
      <p-tabPanel
        id="ps_product_detail_panel_props"
        [header]="'DIALOG.TABS.PROPERTIES' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.PROPERTIES' | translate"
      >
        <app-product-props
          [product]="product"
          [changeMode]="changeMode"
          (productCreated)="onCreate($event)"
          (productChanged)="onChange()"
          (currentLogoUrl)="onUpdateLogoUrl($event)"
        ></app-product-props>
      </p-tabPanel>

      <p-tabPanel
        id="ps_product_detail_panel_intern"
        [disabled]="changeMode !== 'VIEW'"
        [header]="'DIALOG.TABS.INTERN' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.INTERN' | translate"
      >
        <app-product-intern [product]="product" [dateFormat]="dateFormat"></app-product-intern>
      </p-tabPanel>

      <p-tabPanel
        id="ps_product_detail_panel_apps"
        [disabled]="changeMode !== 'VIEW'"
        [header]="'DIALOG.TABS.APPS' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.APPS' | translate"
      >
        <app-product-apps [product]="product_for_apps" [changeMode]="changeMode"></app-product-apps>
      </p-tabPanel>
    </p-tabView>
  </ocx-page-content>
</ocx-portal-page>

<p-dialog
  [(visible)]="productDeleteVisible"
  [header]="'ACTIONS.DELETE.PRODUCT.HEADER' | translate"
  [modal]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '500px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div id="ps_product_delete_message" class="font-bold">
        {{('ACTIONS.DELETE.MESSAGE' | translate).replace('{{ITEM}}', product?.name)}}
      </div>
      <div *ngIf="product?.operator" class="mt-3">{{ 'ACTIONS.DELETE.PRODUCT.OPERATOR_TEXT' | translate }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ps_product_delete_button_no"
        icon="pi pi-times"
        (onClick)="productDeleteVisible = false"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ps_product_delete_button_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
