<ocx-portal-page permission="PRODUCT#VIEW" helpArticleId="PAGE_PRODUCT_DETAIL">
  <ocx-page-header
    [loading]="loading"
    [header]="product?.displayName"
    [subheader]="('DIALOG.DETAIL.SUBHEADER' | translate) + ': ' + ('ACTIONS.' + changeMode + '.LABEL' | translate)"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>

  <ocx-page-content *ngIf="product$ | async as product">
    <p-message
      *ngIf="loading"
      id="ps_product_detail_loading_message"
      severity="info"
      styleClass="m-3 p-2"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="!loading && exceptionKey"
      id="ps_product_detail_error_message"
      severity="error"
      styleClass="m-3 p-2"
      [text]="exceptionKey | translate"
    ></p-message>

    <p-tabView
      *ngIf="(product && !exceptionKey) || changeMode === 'CREATE'"
      (onChange)="onTabChange($event, product)"
      [activeIndex]="selectedTabIndex"
    >
      <p-tabPanel
        id="ps_product_detail_panel_props"
        [header]="'DIALOG.TABS.PROPERTIES' | translate"
        [attr.aria-label]="'DIALOG.TABS.PROPERTIES' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.PROPERTIES' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-product-props
          [product]="product"
          [changeMode]="changeMode"
          (productCreated)="onRouteToCreatedProduct($event)"
          (productChanged)="onChange($event)"
          (currentLogoUrl)="onUpdateLogoUrl($event)"
        ></app-product-props>
      </p-tabPanel>

      <p-tabPanel
        id="ps_product_detail_panel_intern"
        [disabled]="changeMode !== 'VIEW'"
        [header]="'DIALOG.TABS.INTERN' | translate"
        [attr.aria-label]="'DIALOG.TABS.INTERN' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.INTERN' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-product-intern [product]="product" [dateFormat]="dateFormat"></app-product-intern>
      </p-tabPanel>

      <p-tabPanel
        id="ps_product_detail_panel_use"
        [disabled]="changeMode !== 'VIEW'"
        [header]="'DIALOG.TABS.USE' | translate"
        [attr.aria-label]="'DIALOG.TABS.USE' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.USE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-product-use [product]="product"></app-product-use>
      </p-tabPanel>

      <p-tabPanel
        id="ps_product_detail_panel_apps"
        [disabled]="changeMode !== 'VIEW'"
        [header]="'DIALOG.TABS.APPS' | translate"
        [attr.aria-label]="'DIALOG.TABS.APPS' | translate"
        [tooltip]="'DIALOG.TABS.TOOLTIPS.APPS' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-product-apps [product]="product_for_apps" [changeMode]="changeMode"></app-product-apps>
      </p-tabPanel>
    </p-tabView>
  </ocx-page-content>
</ocx-portal-page>

<p-dialog
  [header]="'ACTIONS.DELETE.PRODUCT.HEADER' | translate"
  [(visible)]="productDeleteVisible"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '500px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div id="ps_product_delete_message" class="font-bold">{{ 'ACTIONS.DELETE.PRODUCT.MESSAGE' | translate }}</div>
      <div id="ps_product_delete_product_name" class="my-2 font-bold danger-action-text text-center">
        {{ product?.name }}
      </div>
      <div *ngIf="product?.operator">{{ 'ACTIONS.DELETE.PRODUCT.OPERATOR_TEXT' | translate }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ps_product_delete_action_no"
        icon="pi pi-times"
        (onClick)="productDeleteVisible = false"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ps_product_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
