app:
  name: ui
  image:
    repository: 'onecx/onecx-product-store-ui'
  routing:
    enabled: true
    path: /mfe/product-store/
    
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXProductStoreModule"
          description: "OneCX Product Store UI"
          note: "OneCX Product Store UI module auto import via MF operator"
          type: MODULE
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-product-store
          tagName: ocx-product-store-component
          endpoints:
            - name: product-detail
              path: /{product-name}
            - name: apps
              path: /apps
            - name: endpoints
              path: /endpoints
            - name: slots
              path: /slots
        product-infos:
          exposedModule: "./OneCXProductInfosComponent"
          description: "Provide Product informations"
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-product-store
          tagName: ocx-product-infos-component
    # Slot
    slot:
      enabled: true
      specs:
        onecx-product-list-workspaces-using-product:
          name: 'onecx-product-list-workspaces-using-product'
          description: 'List Workspaces using a given Product'
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          APP:
            CREATE: Create app
            DELETE: Delete app
            EDIT: Edit app
            SEARCH: Search apps
            VIEW: View app details
          ENDPOINT:
            SEARCH: Search endpoints
          PRODUCT:
            CREATE: Create product
            DELETE: Delete product
            EDIT: Edit product
            SEARCH: Search products
            VIEW: View product details
          SLOT:
            SEARCH: Search slots
            DELETE: Delete slot
