app:
  name: ui
  image:
    repository: 'onecx/onecx-product-store-ui'
  routing:
    enabled: true
    path: /mfe/product-store/
    
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      spec:
        exposedModule: "./OneCXProductStoreModule"
        description: "OneCX Product Store UI"
        note: "OneCX Product Store UI module auto import via MF operator"
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          APP:
            CREATE: Create app
            DELETE: Delete app
            EDIT: Edit app
            SAVE: Update and save app
            SEARCH: Search apps
            VIEW: View app details
          PRODUCT:
            CREATE: Create product
            DELETE: Delete product
            EDIT: Edit product
            SAVE: Update and save product
            SEARCH: Search products
            VIEW: View product details
    # Keycloak
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            clientId: "onecx-product-store-ui"

# PIPE Config
