// disable preset of opacity in form: not readable
@mixin make-disabled-form-readable-input {
  :host ::ng-deep {
    .p-inputtext.p-component:disabled {
      opacity: unset;
    }
  }
}

@mixin make-disabled-form-readable-dropdown {
  :host ::ng-deep {
    .p-dropdown.p-component.p-disabled {
      opacity: unset;
    }
  }
}

@mixin prepare-inputgroup {
  :host ::ng-deep {
    .inputgroup-dropdown-with-link {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .input-field-correction .p-inputtext {
      padding-top: 1rem !important;
      padding-bottom: 0.5rem !important;
    }
    .pseudo-button:hover {
      background: var(--button-hover-bg) !important;
      cursor: pointer;
      * {
        background: var(--button-hover-bg) !important;
      }
    }
  }
}

@mixin card-badges {
  :host ::ng-deep {
    .card-badge-right {
      display: inline-block;
      position: absolute;
      right: 2px;
      &.badge-1 {
        top: 3px;
      }
      &.badge-2 {
        top: 30px;
      }
    }
    .card-badge-left {
      display: inline-block;
      position: absolute;
      left: 2px;
      &.badge-1 {
        top: 3px;
      }
      &.badge-2 {
        top: 30px;
      }
    }
  }
}
