/* global styles */
@use 'primeflex/primeflex.scss';
@use 'primeicons/primeicons.css';

/* portal core */
@use 'node_modules/@onecx/angular-accelerator/assets/styles.scss';

.p-multiselect-list p-multiselect-item:nth-child(even) {
  .p-multiselect-option:not(.p-multiselect-option-selected):not(.p-disabled) {
    background-color: var(--table-body-row-even-bg, rgba(0, 0, 0, 0.02));
  }
}

.bookmark-link {
  padding: 0rem !important;
  &:hover {
    background: var(--tabview-header-hover-bg);
    border-color: var(--tabview-header-hover-border-color);
    color: var(--text-secondary-color);
  }
}
