<form>
  <p-fieldset styleClass="surface-100 pt-0 pb-1 mt-3 mx-0">
    <ng-template pTemplate="header">
      <span [pTooltip]="'APP.TOOLTIPS.GROUP.INTERNALS' | translate" tooltipPosition="top" tooltipEvent="hover">
        {{ 'APP.GROUP.INTERNALS' | translate }}</span
      >
    </ng-template>
    <div class="grid row-gap-2">
      <div class="col-12 md:col-6 pt-0 pb-3 px-4">
        <p-checkbox
          type="text"
          [readonly]="true"
          inputId="app_detail_form_mfe_field_operator"
          [(ngModel)]="operator"
          [ngModelOptions]="{ standalone: true }"
          [binary]="true"
          [label]="'INTERNAL.OPERATOR' | translate"
          [pTooltip]="'APP.TOOLTIPS.OPERATOR' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-checkbox>
      </div>
      <div class="col-12 md:col-3 pt-0 pb-3 px-4" style="min-width: 12rem">
        <p-checkbox
          type="text"
          [readonly]="true"
          inputId="app_detail_form_mfe_field_undeployed"
          [(ngModel)]="undeployed"
          [ngModelOptions]="{ standalone: true }"
          [binary]="true"
          [label]="'APP.UNDEPLOYED' | translate"
          [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-checkbox>
      </div>

      <div class="col-12 md:col-3 pt-0 pb-3 px-4" style="min-width: 12rem">
        <p-checkbox
          type="text"
          [readonly]="true"
          inputId="app_detail_form_mfe_field_deprecated"
          [(ngModel)]="deprecated"
          [ngModelOptions]="{ standalone: true }"
          [binary]="true"
          [label]="'APP.DEPRECATED' | translate"
          [pTooltip]="'APP.TOOLTIPS.DEPRECATED' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-checkbox>
      </div>

      <div class="flex flex-wrap row-gap-4">
        <div class="w-12 sm:w-5 pr-3" style="min-width: 12rem">
          <span class="p-float-label mb-1">
            <input
              pInputText
              type="text"
              readonly
              id="app_detail_form_mfe_field_creationDate"
              class="w-full pt-3 pb-2"
              [value]="app?.creationDate ? (app?.creationDate | date: dateFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="app_detail_form_app_field_creationDate">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
          </span>
        </div>
        <div class="w-12 sm:w-7 pl-3" style="min-width: 12rem">
          <span class="p-float-label mb-1">
            <input
              pInputText
              type="text"
              readonly
              id="app_detail_form_app_field_creationUser"
              class="w-full pt-3 pb-2 text-responsive"
              [value]="app?.creationUser ? (app?.creationUser | date: dateFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="app_detail_form_app_field_creationUser"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
          </span>
        </div>
        <div class="w-12 sm:w-5 pr-3" style="min-width: 12rem">
          <span class="p-float-label mb-1">
            <input
              pInputText
              type="text"
              readonly
              id="app_detail_form_app_field_modificationDate"
              class="w-full pt-3 pb-2"
              [value]="app?.modificationDate ? (app?.modificationDate | date: dateFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="app_detail_form_app_field_modificationDate">
              {{ 'INTERNAL.MODIFICATION_DATE' | translate }}
            </label>
          </span>
        </div>
        <div class="w-12 sm:w-7 pl-3" style="min-width: 12rem">
          <span class="p-float-label mb-1">
            <input
              pInputText
              type="text"
              readonly
              id="app_detail_form_app_field_modificationUser"
              class="w-full pt-3 pb-2 text-responsive"
              [value]="app?.modificationUser ? (app?.modificationUser | date: dateFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="app_detail_form_mfe_field_modificationUser">
              {{ 'INTERNAL.MODIFICATION_USER' | translate }}
            </label>
          </span>
        </div>
      </div>
    </div>
  </p-fieldset>
</form>
