<form>
  <ng-template pTemplate="header">
    <span [pTooltip]="'APP.TOOLTIPS.GROUP.INTERNALS' | translate" tooltipPosition="top" tooltipEvent="hover">
      {{ 'APP.GROUP.INTERNALS' | translate }}</span
    >
  </ng-template>
  <div class="flex flex-column row-gap-4">
    <!-- row 1 -->
    <form [formGroup]="appForm" class="mx-3 flex flex-row flex-wrap column-gap-6 row-gap-3">
      <div class="flex align-items-center gap-2">
        <p-checkbox
          type="text"
          inputId="ps_app_detail_form_field_operator"
          formControlName="operator"
          [binary]="true"
          [ariaLabel]="'INTERNAL.OPERATOR' | translate"
          [pTooltip]="'APP.TOOLTIPS.OPERATOR' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-checkbox>
        <label for="ps_app_detail_form_field_operator">{{ 'INTERNAL.OPERATOR' | translate }}</label>
      </div>
      <div class="flex align-items-center gap-2">
        <p-checkbox
          type="text"
          inputId="ps_app_detail_form_field_undeployed"
          formControlName="undeployed"
          [binary]="true"
          (onChange)="onChangeUndeployed($event)"
          [ariaLabel]="'APP.UNDEPLOYED' | translate"
          [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-checkbox>
        <label for="ps_app_detail_form_field_undeployed">{{ 'APP.UNDEPLOYED' | translate }}</label>
      </div>
      @if (mfe) {
        <div class="flex align-items-center gap-2">
          <p-checkbox
            type="text"
            inputId="ps_app_detail_form_field_deprecated"
            formControlName="deprecated"
            [binary]="true"
            [ariaLabel]="'APP.DEPRECATED' | translate"
            [pTooltip]="'APP.TOOLTIPS.DEPRECATED' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-checkbox>
          <label for="ps_app_detail_form_field_deprecated">{{ 'APP.DEPRECATED' | translate }}</label>
        </div>
      }
    </form>

    <!-- row 2 -->
    @let comp = mfe ?? ms;
    @if (comp) {
      <div class="flex flex-row flex-wrap gap-4">
        <p-floatlabel variant="on" class="flex-grow-1 sm:flex-grow-0">
          <input
            pInputText
            type="text"
            id="ps_app_detail_form_field_creation_date"
            class="w-full sm:w-13rem pt-3 pb-2 text-responsive"
            [value]="comp?.creationDate ? (comp?.creationDate | date: dateFormat) : ''"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.CREATION_DATE' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="flex-grow-1">
          <input
            pInputText
            type="text"
            id="ps_app_detail_form_field_creation_user"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="comp?.creationUser"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.CREATION_USER' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_creation_user"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
        </p-floatlabel>
      </div>

      <!-- row 3 -->
      <div class="flex flex-row flex-wrap gap-4">
        <p-floatlabel variant="on" class="flex-grow-1 sm:flex-grow-0">
          <input
            pInputText
            type="text"
            id="ps_app_detail_form_field_modification_date"
            class="w-full sm:w-13rem pt-3 pb-2"
            [value]="comp?.modificationDate ? (comp?.modificationDate | date: dateFormat) : ''"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.MODIFICATION_DATE' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_modification_date">
            {{ 'INTERNAL.MODIFICATION_DATE' | translate }}
          </label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="flex-grow-1">
          <input
            pInputText
            type="text"
            id="ps_app_detail_form_field_modification_user"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="comp?.modificationUser"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.MODIFICATION_USER' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_modification_user">
            {{ 'INTERNAL.MODIFICATION_USER' | translate }}
          </label>
        </p-floatlabel>
      </div>
    }
  </div>
</form>
