<p-dialog
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [header]="'ACTIONS.DELETE.SLOT.HEADER' | translate"
  [modal]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div class="font-bold">{{ ('ACTIONS.DELETE.MESSAGE' | translate).replace("{{ITEM}}", slot?.name ?? '') }}</div>
      <div class="mt-3" *ngIf="slot?.operator">{{ 'ACTIONS.DELETE.SLOT.OPERATOR_TEXT' | translate }}</div>
      <div class="mt-3">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        id="slot_delete_dialog_no_confirm"
        autofocus
        type="button"
        class="m-0"
        icon="pi pi-times"
        iconPos="left"
        (click)="onDialogHide()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
      <button
        pButton
        id="slot_delete_dialog_confirm"
        type="button"
        class="m-0"
        icon="pi pi-check"
        iconPos="left"
        (click)="onConfirmDeletion()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>
  </ng-template>
</p-dialog>
