<p-dialog
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [resizable]="true"
  [draggable]="true"
  [style]="{ width: '560px' }"
  [breakpoints]="{
    '992px': '80vw',
    '750px': '90vw',
    '600px': '100vw'
  }"
>
  <ng-template pTemplate="header">
    <div *ngIf="loading" class="pi pi-spinner"></div>
    <div *ngIf="!loading" class="w-full flex flex-row justify-content-between align-items-center">
      <div *ngIf="dialogTitleKey" class="p-dialog-title" [class.danger-action-text]="undeployed || deprecated">
        {{ dialogTitleKey | translate }}
      </div>
      <div
        *ngIf="undeployed"
        id="ps_app_detail_header_field_undeployed"
        class="p-dialog-title danger-action-text font-bold pi pi-ban"
        [pTooltip]="'APP.TOOLTIPS.UNDEPLOYED' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></div>
      <div
        *ngIf="!undeployed && deprecated"
        id="ps_app_detail_header_field_deprecated"
        class="p-dialog-title danger-action-text font-bold pi pi-exclamation-circle"
        [pTooltip]="'APP.TOOLTIPS.DEPRECATED' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></div>
    </div>
  </ng-template>

  <p-tabView #panelDetail (onChange)="onTabChange($event, mfe, ms)" [(activeIndex)]="selectedTabIndex">
    <p-tabPanel [header]="'DIALOG.TABS.LOCAL' | translate" [tooltip]="'DIALOG.TABS.TOOLTIPS.LOCAL' | translate">
      <form *ngIf="!loading && appAbstract?.appType === 'MFE'" [formGroup]="formGroupMfe" errorTailor>
        <ng-template pTemplate="header">
          <span>{{ 'ACTIONS.' + this.changeMode + '.MFE.HEADER' | translate }}</span>
        </ng-template>

        <div class="flex flex-column row-gap-4">
          <!-- row 1 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_app_id"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="appId"
                [attr.aria-label]="'APP.APP_ID' | translate"
                [pTooltip]="'APP.TOOLTIPS.APP_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_app_id">
                {{ 'APP.APP_ID' | translate }}
              </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_app_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="appName"
                [attr.aria-label]="'APP.APP_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.APP_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_app_name">
                {{ 'APP.APP_NAME' | translate }}
              </label>
            </span>
          </div>

          <!-- row 2 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_product_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="productName"
                [attr.aria-label]="'APP.PRODUCT_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.PRODUCT_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_product_name">
                {{ 'APP.PRODUCT_NAME' | translate }}
              </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <p-dropdown
                id="ps_app_detail_form_mfe_field_icon_name"
                styleClass="w-full"
                formControlName="iconName"
                scrollHeight="180px"
                [options]="iconItems"
                [showClear]="true"
                [ariaLabel]="'APP.ICON_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.ICON_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <ng-template let-ico pTemplate="selectedItem">
                  <div class="flex flex-row flex-nowrap align-items-center column-gap-2">
                    <span class="pi pi-{{ ico.value }}"> </span>
                    <span>{{ ico.label }}</span>
                  </div>
                </ng-template>
                <ng-template let-ico pTemplate="item">
                  <div class="flex flex-row flex-nowrap align-items-center column-gap-2">
                    <span class="pi pi-{{ ico.value }}"> </span>
                    <span>{{ ico.label }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="ps_app_detail_form_mfe_field_icon_name"> {{ 'APP.ICON_NAME' | translate }} </label>
            </span>
          </div>

          <!-- row 3 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_app_version"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="appVersion"
                [attr.aria-label]="'APP.APP_VERSION' | translate"
                [pTooltip]="'APP.TOOLTIPS.APP_VERSION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_app_version">
                {{ 'APP.APP_VERSION' | translate }}
              </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_classifications"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="classifications"
                [attr.aria-label]="'APP.CLASSIFICATIONS' | translate"
                [pTooltip]="'APP.TOOLTIPS.CLASSIFICATIONS' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ps_app_detail_form_mfe_field_classifications">
                {{ 'APP.CLASSIFICATIONS' | translate }}
              </label>
            </span>
          </div>

          <!-- row 4 -->
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="ps_app_detail_form_mfe_field_contact"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="contact"
              [attr.aria-label]="'APP.CONTACT' | translate"
              [pTooltip]="'APP.TOOLTIPS.CONTACT' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_mfe_field_contact"> {{ 'APP.CONTACT' | translate }} </label>
          </span>
          <!-- row 5 -->
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="ps_app_detail_form_mfe_field_description"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="description"
              [attr.aria-label]="'APP.DESCRIPTION' | translate"
              [pTooltip]="'APP.TOOLTIPS.DESCRIPTION' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_mfe_field_description"> {{ 'APP.DESCRIPTION' | translate }} </label>
          </span>
        </div>
      </form>

      <form *ngIf="!loading && appAbstract?.appType === 'MS'" [formGroup]="formGroupMs" errorTailor>
        <ng-template pTemplate="header">
          <span>{{ 'ACTIONS.' + this.changeMode + '.MS.HEADER' | translate }}</span>
        </ng-template>
        <div class="flex flex-column row-gap-4">
          <!-- row 1 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_ms_field_app_id"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="appId"
                [attr.aria-label]="'APP.APP_ID' | translate"
                [pTooltip]="'APP.TOOLTIPS.APP_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_ms_field_app_id">
                {{ 'APP.APP_ID' | translate }}
              </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_ms_field_app_name"
                class="w-full pt-3 pb-2"
                formControlName="appName"
                [attr.aria-label]="'APP.APP_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.APP_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_ms_field_app_name">
                {{ 'APP.APP_NAME' | translate }}
              </label>
            </span>
          </div>

          <!-- row 2 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_ms_field_app_version"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="appVersion"
                [attr.aria-label]="'APP.APP_VERSION' | translate"
                [pTooltip]="'APP.TOOLTIPS.APP_VERSION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_ms_field_app_version">
                {{ 'APP.APP_VERSION' | translate }}
              </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_ms_field_product_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="productName"
                [attr.aria-label]="'APP.PRODUCT_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.PRODUCT_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ps_app_detail_form_ms_field_product_name">
                {{ 'APP.PRODUCT_NAME' | translate }}
              </label>
            </span>
          </div>

          <!-- row 3 -->
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="ps_app_detail_form_ms_field_description"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="description"
              [attr.aria-label]="'APP.DESCRIPTION' | translate"
              [pTooltip]="'APP.TOOLTIPS.DESCRIPTION' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_ms_field_description"> {{ 'APP.DESCRIPTION' | translate }} </label>
          </span>
        </div>
      </form>
    </p-tabPanel>

    <p-tabPanel
      *ngIf="appAbstract?.appType === 'MFE'"
      [header]="'DIALOG.TABS.REMOTE' | translate"
      [tooltip]="'DIALOG.TABS.TOOLTIPS.REMOTE' | translate"
    >
      <form *ngIf="!loading && appAbstract?.appType === 'MFE'" [formGroup]="formGroupMfe" errorTailor>
        <ng-template pTemplate="header">
          <span>{{ 'ACTIONS.' + this.changeMode + '.MFE.HEADER' | translate }}</span>
        </ng-template>
        <div class="flex flex-column row-gap-4">
          <!-- row 1 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 sm:flex-grow-0 p-float-label" controlErrorAnchor>
              <p-dropdown
                id="ps_app_detail_form_mfe_field_type"
                styleClass="w-full"
                formControlName="type"
                [options]="types"
                [attr.aria-label]="'APP.TYPE' | translate"
                [pTooltip]="'APP.TOOLTIPS.TYPE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_type">
                {{ 'APP.TYPE' | translate }}
              </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <p-dropdown
                id="ps_app_detail_form_mfe_field_technology"
                styleClass="w-full"
                formControlName="technology"
                [options]="technologies"
                [attr.aria-label]="'APP.TECHNOLOGY' | translate"
                [pTooltip]="'APP.TOOLTIPS.TECHNOLOGY' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_technology">
                {{ 'APP.TECHNOLOGY' | translate }}
              </label>
            </span>
          </div>

          <!-- row 2 -->
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="ps_app_detail_form_mfe_field_exposed_module"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="exposedModule"
              [attr.aria-label]="'APP.EXPOSED_MODULE' | translate"
              [pTooltip]="'APP.TOOLTIPS.EXPOSED_MODULE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_exposed_module">
              {{ 'APP.EXPOSED_MODULE' | translate }}
            </label>
          </span>

          <!-- row 3 -->
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="ps_app_detail_form_mfe_field_remote_entry"
              class="w-full pt-3 pb-2"
              formControlName="remoteEntry"
              [attr.aria-label]="'APP.REMOTE_ENTRY' | translate"
              [pTooltip]="'APP.TOOLTIPS.REMOTE_ENTRY' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_remote_entry">
              {{ 'APP.REMOTE_ENTRY' | translate }}
            </label>
          </span>

          <!-- row 4 -->
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="ps_app_detail_form_mfe_field_remote_base_url"
              class="w-full pt-3 pb-2"
              formControlName="remoteBaseUrl"
              [attr.aria-label]="'APP.REMOTE_BASE_URL' | translate"
              [pTooltip]="'APP.TOOLTIPS.REMOTE_BASE_URL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label class="ocx-required-label" for="ps_app_detail_form_mfe_field_remote_base_url">
              {{ 'APP.REMOTE_BASE_URL' | translate }}
            </label>
          </span>

          <!-- row 5 -->
          <div class="flex flex-row flex-wrap gap-4">
            <span class="flex-grow-1 sm:flex-grow-0 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_remote_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="remoteName"
                [attr.aria-label]="'APP.REMOTE_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.REMOTE_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ps_app_detail_form_mfe_field_remote_name"> {{ 'APP.REMOTE_NAME' | translate }} </label>
            </span>
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ps_app_detail_form_mfe_field_tag_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="tagName"
                [attr.aria-label]="'APP.TAG_NAME' | translate"
                [pTooltip]="'APP.TOOLTIPS.TAG_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ps_app_detail_form_mfe_field_tag_name"> {{ 'APP.TAG_NAME' | translate }} </label>
            </span>
          </div>
        </div>
      </form>
    </p-tabPanel>

    <p-tabPanel
      *ngIf="appAbstract?.appType === 'MFE' && appAbstract?.mfeType === MicrofrontendType.Module"
      [header]="'DIALOG.TABS.ENDPOINTS' | translate"
      [tooltip]="'DIALOG.TABS.TOOLTIPS.ENDPOINTS' | translate"
    >
      <div class="flex flex-column row-gap-2">
        <p-message
          *ngIf="endpoints.length === 1 && allowEditing()"
          id="ps_app_detail_endpoint_info_message"
          severity="info"
          [text]="'ENDPOINT.CELL_EDITING_MESSAGE' | translate"
        ></p-message>

        <p-table #endpointTable [value]="endpoints">
          <ng-template pTemplate="header">
            <tr>
              <th
                *ngIf="allowEditing()"
                id="ps_app_detail_endpoint_table_header_actions"
                class="p-2 text-center border-bottom-2"
                [pTooltip]="'ACTIONS.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ 'ACTIONS.LABEL' | translate }}
              </th>
              <th
                id="ps_app_detail_endpoint_table_header_endpoint_name"
                class="p-2 text-center border-bottom-2"
                [ngClass]="{ 'border-left-1': allowEditing() }"
                [pTooltip]="'ENDPOINT.TOOLTIPS.NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ 'ENDPOINT.NAME' | translate }}
              </th>
              <th
                id="ps_app_detail_endpoint_table_header_endpoint_path"
                class="p-2 text-center border-left-1 border-bottom-2"
                [pTooltip]="'ENDPOINT.TOOLTIPS.PATH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ 'ENDPOINT.PATH' | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-endpoint let-i="rowIndex">
            <tr>
              <td *ngIf="allowEditing()" class="text-center white-space-nowrap">
                <button
                  pbutton
                  class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  [id]="'ps_app_detail_endpoint_table_row_' + i + '_add_action'"
                  (click)="onAddEndpointRow()"
                  [disabled]="i !== endpoints.length - 1"
                  [attr.aria-label]="'ACTIONS.TABLE.ADD_ROW.LABEL' | translate"
                  [pTooltip]="'ACTIONS.TABLE.ADD_ROW.LABEL' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-plus-circle"></span>
                </button>
                <button
                  pbutton
                  class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  [id]="'ps_app_detail_endpoint_table_row_' + i + '_delete_action'"
                  (click)="onDeleteEndpointRow(i)"
                  [disabled]="i === 0 && endpoints.length === 1"
                  [attr.aria-label]="'ACTIONS.TABLE.DELETE_ROW.LABEL' | translate"
                  [pTooltip]="'ACTIONS.TABLE.DELETE_ROW.LABEL' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon danger-action-text pi pi-trash"></span>
                </button>
              </td>
              <ng-container *ngIf="allowEditing()">
                <td [pEditableColumn]="endpoint.name" pEditableColumnField="name">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        [id]="'ps_app_detail_endpoint_table_row_' + i + '_endpoint_name'"
                        pInputText
                        type="text"
                        [(ngModel)]="endpoint.name"
                      />
                    </ng-template>
                    <ng-template pTemplate="output"> {{ endpoint.name }} </ng-template>
                  </p-cellEditor>
                </td>
                <td [pEditableColumn]="endpoint.path" pEditableColumnField="path">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        [id]="'ps_app_detail_endpoint_table_row_' + i + '_endpoint_path'"
                        type="text"
                        [(ngModel)]="endpoint.path"
                      />
                    </ng-template>
                    <ng-template pTemplate="output"> {{ endpoint.path }} </ng-template>
                  </p-cellEditor>
                </td>
              </ng-container>
              <ng-container *ngIf="!allowEditing()">
                <td>{{ endpoint.name }}</td>
                <td>{{ endpoint.path }}</td>
              </ng-container>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>

    <p-tabPanel
      [disabled]="['CREATE', 'COPY'].includes(changeMode)"
      [header]="'DIALOG.TABS.INTERN' | translate"
      [tooltip]="'DIALOG.TABS.TOOLTIPS.INTERN' | translate"
    >
      <app-app-intern
        *ngIf="appAbstract?.appType === 'MFE'"
        [app]="appForIntern"
        appType="MFE"
        [changeMode]="changeMode"
        (undeployed)="onChangeUndeployedValue($event)"
      ></app-app-intern>
      <app-app-intern
        *ngIf="appAbstract?.appType === 'MS'"
        [app]="appForIntern"
        appType="MS"
        [changeMode]="changeMode"
        (undeployed)="onChangeUndeployedValue($event)"
      ></app-app-intern>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        *ngIf="!allowEditing()"
        id="ps_app_detail_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="allowEditing()"
        id="ps_app_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="allowEditing()"
        id="ps_app_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [disabled]="
          (appAbstract?.appType === 'MFE' && !formGroupMfe.valid) ||
          (appAbstract?.appType === 'MS' && !formGroupMs.valid)
        "
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
