@import '/src/_mixins.scss';

@include danger-action;
@include dialog-footer-buttons;
@include displaying-text-responsive;

/* limit deletion dialog */
:host ::ng-deep {
  // popup dialogues
  @media (max-width: 991px) {
    .p-dialog.p-dialog {
      max-height: unset !important;
      height: unset !important;
    }
  }
  .p-dialog {
    .p-dialog-content {
      border-radius: unset !important;
      padding-bottom: 0;
    }
  }
  .p-fieldset {
    &.p-fieldset-toggleable .p-fieldset-legend a,
    .p-fieldset-legend {
      background-color: transparent;
      padding: 0.3rem 0.4rem;
    }
    .p-fieldset-content {
      padding: 1rem 0.2rem 0rem;
    }
  }
}
