@import '/src/_mixins.scss';

@include danger-action;
@include dialog-footer-buttons;
@include displaying-text-responsive;
@include dropdown-zebra-rows;
@include compact-dropdown-list-items;
@include dialog-non-full-size-modal;
@include table-inline-buttons;
@include table-zebra-rows;

:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td {
    &:not(:first-of-type) {
      min-width: 220px;
      border-left-width: 1px;
    }
    &:not(:has(p-celleditor .p-inputtext)) {
      padding: var(--table-body-cell-padding);
    }
    &:has(p-celleditor .p-inputtext) {
      padding: 0.4rem;
    }
  }
}
