<ocx-portal-page permission="PRODUCT#SEARCH" helpArticleId="PAGE_PRODUCT_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div
      id="product_search_criteria"
      [formGroup]="productSearchCriteriaGroup"
      class="flex flex-wrap gap-4 row-gap-3 md:px-2"
    >
      <span class="p-float-label">
        <input
          id="product_search_criteria_display_name"
          pInputText
          type="text"
          class="w-18rem"
          [clear]="true"
          formControlName="displayName"
          [pTooltip]="('PRODUCT.TOOLTIPS.DISPLAY_NAME' | translate) + ('ACTIONS.SEARCH.WILDCARD_SUPPORT' | translate)"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="product_search_criteria_display_name">{{ 'PRODUCT.DISPLAY_NAME' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          id="product_search_criteria_product_name"
          pInputText
          type="text"
          class="w-18rem"
          [clear]="true"
          formControlName="productName"
          [pTooltip]="('PRODUCT.TOOLTIPS.NAME' | translate) + ('ACTIONS.SEARCH.WILDCARD_SUPPORT' | translate)"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="product_search_criteria_product_name">{{ 'PRODUCT.NAME' | translate }}</label>
      </span>
    </div>
  </ocx-search-header>

  <ocx-page-content>
    <div *ngIf="exceptionKey" id="product_search_criteria_error" class="card px-3 align-items-center">
      <p-message
        id="product_search_criteria_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      id="product_search_dataview"
      [value]="(products$ | async)?.stream!.sort(sortProductsByDisplayName)"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="viewMode === 'grid' ? [16, 32, 80] : [10, 20, 50]"
      [rows]="viewMode === 'grid' ? 16 : 10"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      filterBy="name,displayName,classification"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          id="product_search_dataview_controls"
          [enableFiltering]="true"
          [enableSorting]="true"
          [supportedViews]="['grid', 'list']"
          [initialViewMode]="viewMode"
          [sortingOptions]="[
            { label: 'PRODUCT.DISPLAY_NAME' | translate, value: 'displayName' },
            { label: 'PRODUCT.NAME' | translate, value: 'name' },
            { label: 'PRODUCT.UNDEPLOYED' | translate, value: 'undeployed' }
          ]"
          [defaultSortOption]="sortField"
          [defaultSortDirection]="false"
          (dataViewChange)="onLayoutChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="[
            'PRODUCT.DISPLAY_NAME' | translate,
            'PRODUCT.NAME' | translate,
            'PRODUCT.CLASSIFICATIONS' | translate
          ]"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          [translations]="dataViewControlsTranslations"
        >
        </ocx-data-view-controls
      ></ng-template>

      <!-- LIST -->
      <ng-template let-products let-row="rowIndex" pTemplate="listItem">
        <div class="p-grid p-nogutter grid grid-nogutter">
          <div *ngFor="let product of products" class="col-12 md:col-6">
            <div
              [id]="'product_search_data_list_row_' + row"
              class="flex flex-row flex-nowrap justify-content-start align-items-center column-gap-3 py-1 px-3 hover:bg-gray-200 cursor-pointer"
              [routerLink]="['./' + product.name]"
            >
              <div class="col-4 sm:col-2 text-center">
                <app-image-container
                  [id]="'product_search_data_list_row_' + row + '_image'"
                  [small]="true"
                  styleClass="h-2rem sm:h-3rem max-h-2rem sm:max-h-3rem max-w-5rem"
                  [imageUrl]="getLogoUrl(product)"
                ></app-image-container>
              </div>
              <div class="hidden sm:block col-1"></div>
              <div class="col-8 sm:col-9">
                <div class="flex flex-column justify-content-center gap-1">
                  <div
                    [id]="'product_search_data_list_row_' + row + '_product_display_name'"
                    class="font-bold text-md text-responsive"
                    [class.danger-action-text]="product.undeployed"
                    [pTooltip]="
                      ('PRODUCT.DISPLAY_NAME' | translate) +
                      (!product.undeployed ? '' : ' => ' + ('PRODUCT.TOOLTIPS.UNDEPLOYED_SEARCH' | translate))
                    "
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    {{ product.displayName }}
                  </div>
                  <div
                    class="text-sm text-responsive"
                    [id]="'product_search_data_list_row_' + row + '_product_name'"
                    [pTooltip]="'PRODUCT.NAME' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    {{ product.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- GRID -->
      <ng-template let-products let-idx="rowIndex" pTemplate="gridItem">
        <div class="grid grid-nogutter">
          <div *ngFor="let product of products" class="col-6 md:col-4 xl:col-3 p-1 sm:p-2 md:px-3">
            <div
              [id]="'product_search_data_grid_idx_' + idx"
              class="card relative px-2 p-1 sm:p-2 flex flex-column gap-1 sm:gap-2 justify-content-between text-center hover:bg-gray-200 cursor-pointer"
              [routerLink]="['./', product.name]"
            >
              <span
                *ngIf="product?.undeployed"
                [id]="'product_search_data_grid_idx_' + idx + '_undeployed'"
                class="card-badge-right badge-1 p-2 pi pi-ban danger-action-text font-bold"
                [pTooltip]="'PRODUCT.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <div class="h-2rem sm:h-3rem flex flex-column justify-content-center align-items-center text-center">
                <app-image-container
                  [id]="'product_search_data_grid_idx_' + idx + '_image'"
                  [small]="false"
                  styleClass="h-2rem sm:h-3rem max-h-2rem sm:max-h-3rem max-w-10rem"
                  [imageUrl]="getLogoUrl(product)"
                ></app-image-container>
              </div>
              <div class="flex flex-column justify-content-between gap-1 text-center">
                <div
                  [id]="'product_search_data_grid_idx_' + idx + '_product_display_name'"
                  class="mt-2 font-bold text-md text-responsive"
                  [class.danger-action-text]="product.undeployed"
                  [pTooltip]="product.displayName.length <= 20 ? '' : product.displayName"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ product.displayName }}
                </div>
                <div
                  [id]="'product_search_data_grid_idx_' + idx + '_product_name'"
                  class="text-sm text-responsive"
                  [pTooltip]="product.name.length <= 25 ? '' : product.name"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ product.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>
