@use '/src/app/_ps-mixins.scss' as *;

@include card-badges;
@include danger-action;
@include ocx-p-message;
@include ocx-text-responsive;
@include ocx-interactive-data-view-fixes;
@include dataview-list-flex-zebra-rows;

:host ::ng-deep {
  .ocx-content > div {
    margin-bottom: 0 !important;
    padding: 0.75rem 0.5rem !important;
  }

  /* fixes for p-card */
  --onecx-product-store-onecx-product-store-ui-card-body-padding: 0.5rem;
  --onecx-product-store-onecx-product-store-ui-card-border-radius: 4px;
  --onecx-product-store-onecx-product-store-ui-card-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media screen and (min-width: 768px) {
  :host ::ng-deep {
    .card-badge-left,
    .card-badge-right {
      &.badge-1 {
        top: 40px;
      }
      &.badge-2 {
        top: 70px;
      }
    }
    .p-dataview-list .p-dataview-content .p-grid > article {
      &:nth-child(4n + 1),
      &:nth-child(4n + 2) {
        background-color: var(--table-body-row-even-bg, rgba(0, 0, 0, 0.02));
      }
      &:nth-child(4n + 1),
      &:nth-child(4n + 3) {
        border-right: var(--data-view-list-item-border);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  @include tm-filter-group;
  :host ::ng-deep {
    .card-badge-left,
    .card-badge-right {
      &.badge-1 {
        top: 25px;
      }
      &.badge-2 {
        top: 55px;
      }
    }
    .p-dataview-list .p-dataview-content .p-grid > article {
      &:nth-child(odd) {
        background-color: var(--table-body-row-even-bg, rgba(0, 0, 0, 0.02));
      }
    }
  }
}
