<ocx-portal-page permission="PRODUCT#SEARCH" helpArticleId="PAGE_PRODUCT_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div
      id="product_search_criteria"
      [formGroup]="productSearchCriteriaGroup"
      class="flex flex-wrap gap-4 row-gap-3 px-2"
    >
      <span class="p-float-label">
        <input
          id="product_search_criteria_product_name"
          pInputText
          type="text"
          formControlName="productName"
          class="w-18rem"
          [clear]="true"
          [title]="'PRODUCT.TOOLTIPS.NAME' | translate"
        />
        <label for="product_search_criteria_product_name">{{ 'PRODUCT.NAME' | translate }}</label>
      </span>
    </div>
  </ocx-search-header>

  <ocx-page-content>
    <div *ngIf="exceptionKey" id="product_search_criteria_error" class="card px-3 align-items-center">
      <p-message
        id="product_search_criteria_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      id="product_search_dataview"
      [value]="(products$ | async)?.stream!.sort(sortProductsByDisplayName)"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="'grid' ? [12, 24, 60] : [10, 20, 50]"
      [rows]="viewMode === 'grid' ? 12 : 10"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      filterBy="name,displayName,classification"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          id="product_search_dataview_controls"
          [enableFiltering]="true"
          [enableSorting]="true"
          [supportedViews]="['grid', 'list']"
          [initialViewMode]="viewMode"
          [sortingOptions]="[
            { label: 'PRODUCT.NAME' | translate, value: 'name' },
            { label: 'PRODUCT.DISPLAY_NAME' | translate, value: 'displayName' },
            { label: 'PRODUCT.UNDEPLOYED' | translate, value: 'undeployed' }
          ]"
          [defaultSortOption]="sortField"
          [defaultSortDirection]="false"
          (dataViewChange)="onLayoutChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="[
            'PRODUCT.NAME' | translate,
            'PRODUCT.DISPLAY_NAME' | translate,
            'PRODUCT.CLASSIFICATIONS' | translate
          ]"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          [translations]="dataViewControlsTranslations"
        >
        </ocx-data-view-controls
      ></ng-template>
      <ng-template let-product let-row="rowIndex" pTemplate="listItem">
        <div
          [id]="'product_search_data_list_row_' + row"
          class="col-12 grid grid-nogutter align-items-center row-gap-1 listview-row p-1 hover:bg-gray-200 cursor-pointer"
          [routerLink]="['./', product.name]"
        >
          <div class="col-12 md:col-2 lg:col-2 xl:col-2 text-center">
            <div class="flex flex-column justify-content-center align-items-center gap-1 md:gap-2 h-full">
              <app-image-container
                [id]="'product_search_data_list_row_' + row + '_image'"
                [small]="true"
                [imageUrl]="getLogoUrl(product)"
              ></app-image-container>
            </div>
          </div>
          <div class="col-12 md:col-5 lg:col-5 xl:col-6">
            <div class="flex flex-column justify-content-center gap-1 text-center md:text-left">
              <div
                [id]="'product_search_data_list_row_' + row + '_product_display_name'"
                class="font-bold"
                [class.danger-action-text]="product.undeployed"
                [title]="
                  ('PRODUCT.DISPLAY_NAME' | translate) +
                  (!product.undeployed ? '' : ' => ' + ('PRODUCT.TOOLTIPS.UNDEPLOYED_SEARCH' | translate))
                "
              >
                {{ limitText(product.displayName, 100) }}
              </div>
              <div [id]="'product_search_data_list_row_' + row + '_product_name'" [title]="'PRODUCT.NAME' | translate">
                {{ limitText(product.name, 100) }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-product let-idx="rowIndex" pTemplate="gridItem">
        <div
          [id]="'product_search_data_grid_idx_' + idx"
          class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-3"
          [routerLink]="['./', product.name]"
        >
          <div class="card relative p-2 flex flex-column justify-content-center hover:bg-gray-200 cursor-pointer">
            <span
              *ngIf="product?.undeployed"
              [id]="'product_search_data_grid_idx_' + idx + '_undeployed'"
              class="card-badge-right badge-1 p-2 pi pi-ban danger-action-bg"
              [title]="'PRODUCT.TOOLTIPS.UNDEPLOYED_SEARCH' | translate"
            ></span>
            <div class="h-3rem md:h-5rem flex flex-column justify-content-center align-items-center text-center">
              <app-image-container
                [id]="'product_search_data_grid_idx_' + idx + '_image'"
                [small]="false"
                [imageUrl]="getLogoUrl(product)"
              ></app-image-container>
            </div>
            <div class="h-3rem flex flex-column justify-content-between gap-1 text-center">
              <div
                [id]="'product_search_data_grid_idx_' + idx + '_product_display_name'"
                class="mt-2 font-bold text-lg"
                [class.danger-action-text]="product.undeployed"
                [title]="('PRODUCT.DISPLAY_NAME' | translate) + ': ' + limitText(product.displayName, 100)"
              >
                {{ limitText(product.displayName, 20) }}
              </div>
              <div
                [id]="'product_search_data_grid_idx_' + idx + '_product_name'"
                [title]="('PRODUCT.NAME' | translate) + ': ' + product.name"
              >
                {{ limitText(product.name, 25) }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>
